openapi: 3.0.3
info:
  contact:
    email: engineering@conekta.com
    name: api support client
    url: https://github.com/conekta/openapi/issues
  description: Conekta sdk
  license:
    name: MIT-LICENSE
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  title: Conekta API
  version: 2.1.0
servers:
- description: conekta main server
  url: https://api.conekta.io
security:
- bearerAuth: []
paths:
  /antifraud/whitelists:
    delete:
      operationId: DeleteRequestedRuleWhitelist
      responses:
        "200":
          description: successfully deleted rule
      tags:
      - Whitelists
    get:
      description: returns all rules
      operationId: GetWhiteList
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/risk_rules_list'
          description: All the rules
      tags:
      - Whitelists
    post:
      operationId: CreateNewRuleWhitelist
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/create_risk_rules_data'
      responses:
        "200":
          description: successfully registered rule
      tags:
      - Whitelists
  /antifraud/blacklists:
    delete:
      operationId: DeleteRequestedBlackListRule
      responses:
        "200":
          description: successfully deleted rule
      tags:
      - Blacklist
    get:
      description: returns all rules
      operationId: GetBlackList
      responses:
        "200":
          content:
            application/vnd.conekta-v2.1.0+json:
              schema:
                $ref: '#/components/schemas/risk_rules_list'
          description: All the rules
      tags:
      - Blacklist
    post:
      operationId: CreateNewBlackListRule
      requestBody:
        content:
          application/vnd.conekta-v2.1.0+json:
            schema:
              $ref: '#/components/schemas/create_risk_rules_data'
      responses:
        "200":
          description: successfully registered rule
      tags:
      - Blacklist
  /checkouts:
    get:
      operationId: getCheckouts
      parameters:
      - description: use for knowing which language to use
        examples:
          es:
            summary: for spanish request/response
            value: es
          en:
            summary: for english request/response
            value: en
        in: header
        name: Accept-Language
        required: true
        schema:
          enum:
          - es
          - en
          type: string
      - description: "The numbers of items to return, the maximum value is 250"
        in: query
        name: limit
        required: false
        schema:
          default: 20
          format: int32
          type: integer
      - description: "General order search, e.g. by mail, reference etc."
        in: query
        name: search
        required: false
        schema:
          type: string
      - description: next page
        in: query
        name: next
        required: false
        schema:
          type: string
      - description: previous page
        in: query
        name: previous
        required: false
        schema:
          type: string
      responses:
        "200":
          content:
            application/vnd.conekta-v2.1.0+json:
              schema:
                $ref: '#/components/schemas/checkouts_response'
          description: successful operation
          headers:
            Date:
              description: The date and time that the response was sent
              schema:
                example: "Fri, 03 Feb 2023 16:57:48 GMT"
                type: string
            Content-Type:
              description: The format of the response body
              schema:
                example: application/json; charset=utf-8
                type: string
            Content-Length:
              description: The length of the response body in bytes
              schema:
                example: "2737"
                type: string
            Connection:
              description: The type of connection used to transfer the response
              schema:
                example: keep-alive
                type: string
            Conekta-Media-Type:
              schema:
                example: conekta-v2.1.0; format=application/json
                type: string
        "401":
          content:
            application/vnd.conekta-v2.1.0+json:
              schema:
                $ref: '#/components/schemas/error_2_x_x'
          description: authentication error
        "402":
          content:
            application/vnd.conekta-v2.1.0+json:
              schema:
                $ref: '#/components/schemas/error_2_x_x'
          description: payment required error
        "422":
          content:
            application/vnd.conekta-v2.1.0+json:
              schema:
                $ref: '#/components/schemas/error_2_x_x'
          description: parameter validation error
        "500":
          content:
            application/vnd.conekta-v2.1.0+json:
              schema:
                $ref: '#/components/schemas/error_2_x_x'
          description: internal server error
      security:
      - bearerAuth: []
      summary: returns a set of checkouts
      tags:
      - checkouts
    post:
      operationId: createCheckout
      parameters:
      - description: use for knowing which language to use
        examples:
          es:
            summary: for spanish request/response
            value: es
          en:
            summary: for english request/response
            value: en
        in: header
        name: Accept-Language
        required: true
        schema:
          enum:
          - es
          - en
          type: string
      requestBody:
        $ref: '#/components/requestBodies/checkout'
      responses:
        "200":
          content:
            application/vnd.conekta-v2.1.0+json:
              schema:
                $ref: '#/components/schemas/checkout_response'
          description: successful operation
          headers:
            Date:
              description: The date and time that the response was sent
              schema:
                example: "Fri, 03 Feb 2023 16:57:48 GMT"
                type: string
            Content-Type:
              description: The format of the response body
              schema:
                example: application/json; charset=utf-8
                type: string
            Content-Length:
              description: The length of the response body in bytes
              schema:
                example: "2737"
                type: string
            Connection:
              description: The type of connection used to transfer the response
              schema:
                example: keep-alive
                type: string
            Conekta-Media-Type:
              schema:
                example: conekta-v2.1.0; format=application/json
                type: string
        "401":
          content:
            application/vnd.conekta-v2.1.0+json:
              schema:
                $ref: '#/components/schemas/error_2_x_x'
          description: authentication error
        "402":
          content:
            application/vnd.conekta-v2.1.0+json:
              schema:
                $ref: '#/components/schemas/error_2_x_x'
          description: payment required error
        "422":
          content:
            application/vnd.conekta-v2.1.0+json:
              schema:
                $ref: '#/components/schemas/error_2_x_x'
          description: parameter validation error
        "500":
          content:
            application/vnd.conekta-v2.1.0+json:
              schema:
                $ref: '#/components/schemas/error_2_x_x'
          description: internal server error
      security:
      - bearerAuth: []
      summary: creates a new checkout
      tags:
      - checkouts
  /checkouts/{id}:
    get:
      operationId: getCheckout
      parameters:
      - description: use for knowing which language to use
        examples:
          es:
            summary: for spanish request/response
            value: es
          en:
            summary: for english request/response
            value: en
        in: header
        name: Accept-Language
        required: true
        schema:
          enum:
          - es
          - en
          type: string
      - description: identifier
        example: 6307a60c41de27127515a575
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/vnd.conekta-v2.1.0+json:
              schema:
                $ref: '#/components/schemas/checkout_response'
          description: successful operation
          headers:
            Date:
              description: The date and time that the response was sent
              schema:
                example: "Fri, 03 Feb 2023 16:57:48 GMT"
                type: string
            Content-Type:
              description: The format of the response body
              schema:
                example: application/json; charset=utf-8
                type: string
            Content-Length:
              description: The length of the response body in bytes
              schema:
                example: "2737"
                type: string
            Connection:
              description: The type of connection used to transfer the response
              schema:
                example: keep-alive
                type: string
            Conekta-Media-Type:
              schema:
                example: conekta-v2.1.0; format=application/json
                type: string
        "401":
          content:
            application/vnd.conekta-v2.1.0+json:
              schema:
                $ref: '#/components/schemas/error_2_x_x'
          description: authentication error
        "402":
          content:
            application/vnd.conekta-v2.1.0+json:
              schema:
                $ref: '#/components/schemas/error_2_x_x'
          description: payment required error
        "404":
          content:
            application/vnd.conekta-v2.1.0+json:
              schema:
                $ref: '#/components/schemas/error_2_x_x'
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/error_2_x_x'
          description: not found entity
        "422":
          content:
            application/vnd.conekta-v2.1.0+json:
              schema:
                $ref: '#/components/schemas/error_2_x_x'
          description: parameter validation error
        "500":
          content:
            application/vnd.conekta-v2.1.0+json:
              schema:
                $ref: '#/components/schemas/error_2_x_x'
          description: internal server error
      security:
      - bearerAuth: []
      summary: returns a checkout
      tags:
      - checkouts
  /checkouts/{id}/cancel:
    put:
      operationId: cancelCheckout
      parameters:
      - description: use for knowing which language to use
        examples:
          es:
            summary: for spanish request/response
            value: es
          en:
            summary: for english request/response
            value: en
        in: header
        name: Accept-Language
        required: true
        schema:
          enum:
          - es
          - en
          type: string
      - description: identifier
        example: 6307a60c41de27127515a575
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/vnd.conekta-v2.1.0+json:
              schema:
                $ref: '#/components/schemas/checkout_response'
          description: successful operation
          headers:
            Date:
              description: The date and time that the response was sent
              schema:
                example: "Fri, 03 Feb 2023 16:57:48 GMT"
                type: string
            Content-Type:
              description: The format of the response body
              schema:
                example: application/json; charset=utf-8
                type: string
            Content-Length:
              description: The length of the response body in bytes
              schema:
                example: "2737"
                type: string
            Connection:
              description: The type of connection used to transfer the response
              schema:
                example: keep-alive
                type: string
            Conekta-Media-Type:
              schema:
                example: conekta-v2.1.0; format=application/json
                type: string
        "401":
          content:
            application/vnd.conekta-v2.1.0+json:
              schema:
                $ref: '#/components/schemas/error_2_x_x'
          description: authentication error
        "402":
          content:
            application/vnd.conekta-v2.1.0+json:
              schema:
                $ref: '#/components/schemas/error_2_x_x'
          description: payment required error
        "404":
          content:
            application/vnd.conekta-v2.1.0+json:
              schema:
                $ref: '#/components/schemas/error_2_x_x'
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/error_2_x_x'
          description: not found entity
        "422":
          content:
            application/vnd.conekta-v2.1.0+json:
              schema:
                $ref: '#/components/schemas/error_2_x_x'
          description: parameter validation error
        "500":
          content:
            application/vnd.conekta-v2.1.0+json:
              schema:
                $ref: '#/components/schemas/error_2_x_x'
          description: internal server error
      security:
      - bearerAuth: []
      summary: cancels a checkout
      tags:
      - checkouts
  /checkouts/{id}/email:
    post:
      operationId: emailCheckout
      parameters:
      - description: use for knowing which language to use
        examples:
          es:
            summary: for spanish request/response
            value: es
          en:
            summary: for english request/response
            value: en
        in: header
        name: Accept-Language
        required: true
        schema:
          enum:
          - es
          - en
          type: string
      - description: identifier
        example: 6307a60c41de27127515a575
        in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        $ref: '#/components/requestBodies/checkout_email'
      responses:
        "200":
          content:
            application/vnd.conekta-v2.1.0+json:
              schema:
                $ref: '#/components/schemas/checkout_response'
          description: successful operation
          headers:
            Date:
              description: The date and time that the response was sent
              schema:
                example: "Fri, 03 Feb 2023 16:57:48 GMT"
                type: string
            Content-Type:
              description: The format of the response body
              schema:
                example: application/json; charset=utf-8
                type: string
            Content-Length:
              description: The length of the response body in bytes
              schema:
                example: "2737"
                type: string
            Connection:
              description: The type of connection used to transfer the response
              schema:
                example: keep-alive
                type: string
            Conekta-Media-Type:
              schema:
                example: conekta-v2.1.0; format=application/json
                type: string
        "401":
          content:
            application/vnd.conekta-v2.1.0+json:
              schema:
                $ref: '#/components/schemas/error_2_x_x'
          description: authentication error
        "402":
          content:
            application/vnd.conekta-v2.1.0+json:
              schema:
                $ref: '#/components/schemas/error_2_x_x'
          description: payment required error
        "404":
          content:
            application/vnd.conekta-v2.1.0+json:
              schema:
                $ref: '#/components/schemas/error_2_x_x'
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/error_2_x_x'
          description: not found entity
        "422":
          content:
            application/vnd.conekta-v2.1.0+json:
              schema:
                $ref: '#/components/schemas/error_2_x_x'
          description: parameter validation error
        "500":
          content:
            application/vnd.conekta-v2.1.0+json:
              schema:
                $ref: '#/components/schemas/error_2_x_x'
          description: internal server error
      security:
      - bearerAuth: []
      summary: sends an email
      tags:
      - checkouts
  /checkouts/{id}/sms:
    post:
      operationId: smsCheckout
      parameters:
      - description: use for knowing which language to use
        examples:
          es:
            summary: for spanish request/response
            value: es
          en:
            summary: for english request/response
            value: en
        in: header
        name: Accept-Language
        required: true
        schema:
          enum:
          - es
          - en
          type: string
      - description: identifier
        example: 6307a60c41de27127515a575
        in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        $ref: '#/components/requestBodies/checkout_sms'
      responses:
        "200":
          content:
            application/vnd.conekta-v2.1.0+json:
              schema:
                $ref: '#/components/schemas/checkout_response'
          description: successful operation
          headers:
            Date:
              description: The date and time that the response was sent
              schema:
                example: "Fri, 03 Feb 2023 16:57:48 GMT"
                type: string
            Content-Type:
              description: The format of the response body
              schema:
                example: application/json; charset=utf-8
                type: string
            Content-Length:
              description: The length of the response body in bytes
              schema:
                example: "2737"
                type: string
            Connection:
              description: The type of connection used to transfer the response
              schema:
                example: keep-alive
                type: string
            Conekta-Media-Type:
              schema:
                example: conekta-v2.1.0; format=application/json
                type: string
        "401":
          content:
            application/vnd.conekta-v2.1.0+json:
              schema:
                $ref: '#/components/schemas/error_2_x_x'
          description: authentication error
        "402":
          content:
            application/vnd.conekta-v2.1.0+json:
              schema:
                $ref: '#/components/schemas/error_2_x_x'
          description: payment required error
        "404":
          content:
            application/vnd.conekta-v2.1.0+json:
              schema:
                $ref: '#/components/schemas/error_2_x_x'
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/error_2_x_x'
          description: not found entity
        "422":
          content:
            application/vnd.conekta-v2.1.0+json:
              schema:
                $ref: '#/components/schemas/error_2_x_x'
          description: parameter validation error
        "500":
          content:
            application/vnd.conekta-v2.1.0+json:
              schema:
                $ref: '#/components/schemas/error_2_x_x'
          description: internal server error
      security:
      - bearerAuth: []
      summary: sends an sms
      tags:
      - checkouts
  /customers:
    get:
      description: "The purpose of business is to create and maintain a client, you\
        \ will learn what elements you need to obtain a list of clients, which can\
        \ be paged."
      operationId: getCustomers
      parameters:
      - description: use for knowing which language to use
        examples:
          es:
            summary: for spanish request/response
            value: es
          en:
            summary: for english request/response
            value: en
        in: header
        name: Accept-Language
        required: true
        schema:
          enum:
          - es
          - en
          type: string
      - description: "The numbers of items to return, the maximum value is 250"
        in: query
        name: limit
        required: false
        schema:
          default: 20
          format: int32
          type: integer
      - description: next page
        in: query
        name: next
        required: false
        schema:
          type: string
      - description: previous page
        in: query
        name: previous
        required: false
        schema:
          type: string
      responses:
        "200":
          content:
            application/vnd.conekta-v2.1.0+json:
              schema:
                $ref: '#/components/schemas/customers_response'
          description: successful operation
          headers:
            Date:
              description: The date and time that the response was sent
              schema:
                example: "Fri, 03 Feb 2023 16:57:48 GMT"
                type: string
            Content-Type:
              description: The format of the response body
              schema:
                example: application/json; charset=utf-8
                type: string
            Content-Length:
              description: The length of the response body in bytes
              schema:
                example: "2737"
                type: string
            Connection:
              description: The type of connection used to transfer the response
              schema:
                example: keep-alive
                type: string
            Conekta-Media-Type:
              schema:
                example: conekta-v2.1.0; format=application/json
                type: string
        "401":
          content:
            application/vnd.conekta-v2.1.0+json:
              schema:
                $ref: '#/components/schemas/error_2_x_x'
          description: authentication error
        "402":
          content:
            application/vnd.conekta-v2.1.0+json:
              schema:
                $ref: '#/components/schemas/error_2_x_x'
          description: payment required error
        "422":
          content:
            application/vnd.conekta-v2.1.0+json:
              schema:
                $ref: '#/components/schemas/error_2_x_x'
          description: parameter validation error
        "500":
          content:
            application/vnd.conekta-v2.1.0+json:
              schema:
                $ref: '#/components/schemas/error_2_x_x'
          description: internal server error
      security:
      - bearerAuth: []
      summary: returns customers
      tags:
      - customers
    post:
      description: "The purpose of business is to create and keep a customer, you\
        \ will learn what elements you need to create a customer."
      operationId: createCustomer
      parameters:
      - description: use for knowing which language to use
        examples:
          es:
            summary: for spanish request/response
            value: es
          en:
            summary: for english request/response
            value: en
        in: header
        name: Accept-Language
        required: true
        schema:
          enum:
          - es
          - en
          type: string
      requestBody:
        $ref: '#/components/requestBodies/customer'
      responses:
        "200":
          content:
            application/vnd.conekta-v2.1.0+json:
              schema:
                $ref: '#/components/schemas/customer_response'
          description: successful operation
          headers:
            Date:
              description: The date and time that the response was sent
              schema:
                example: "Fri, 03 Feb 2023 16:57:48 GMT"
                type: string
            Content-Type:
              description: The format of the response body
              schema:
                example: application/json; charset=utf-8
                type: string
            Content-Length:
              description: The length of the response body in bytes
              schema:
                example: "2737"
                type: string
            Connection:
              description: The type of connection used to transfer the response
              schema:
                example: keep-alive
                type: string
            Conekta-Media-Type:
              schema:
                example: conekta-v2.1.0; format=application/json
                type: string
        "401":
          content:
            application/vnd.conekta-v2.1.0+json:
              schema:
                $ref: '#/components/schemas/error_2_x_x'
          description: authentication error
        "402":
          content:
            application/vnd.conekta-v2.1.0+json:
              schema:
                $ref: '#/components/schemas/error_2_x_x'
          description: payment required error
        "422":
          content:
            application/vnd.conekta-v2.1.0+json:
              schema:
                $ref: '#/components/schemas/error_2_x_x'
          description: parameter validation error
        "500":
          content:
            application/vnd.conekta-v2.1.0+json:
              schema:
                $ref: '#/components/schemas/error_2_x_x'
          description: internal server error
      security:
      - bearerAuth: []
      summary: creates a new customer
      tags:
      - customers
  /customers/{id}:
    delete:
      description: Deleted a customer resource that corresponds to a customer ID.
      operationId: deleteCustomerById
      parameters:
      - description: identifier
        example: 6307a60c41de27127515a575
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: use for knowing which language to use
        examples:
          es:
            summary: for spanish request/response
            value: es
          en:
            summary: for english request/response
            value: en
        in: header
        name: Accept-Language
        required: true
        schema:
          enum:
          - es
          - en
          type: string
      responses:
        "200":
          content:
            application/vnd.conekta-v2.1.0+json:
              schema:
                $ref: '#/components/schemas/customer_response'
          description: successful operation
        "422":
          content:
            application/vnd.conekta-v2.1.0+json:
              schema:
                $ref: '#/components/schemas/error_2_x_x'
          description: parameter validation error
        "401":
          content:
            application/vnd.conekta-v2.1.0+json:
              schema:
                $ref: '#/components/schemas/error_2_x_x'
          description: authentication error
        "404":
          content:
            application/vnd.conekta-v2.1.0+json:
              schema:
                $ref: '#/components/schemas/error_2_x_x'
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/error_2_x_x'
          description: not found entity
        "500":
          content:
            application/vnd.conekta-v2.1.0+json:
              schema:
                $ref: '#/components/schemas/error_2_x_x'
          description: internal server error
      security:
      - bearerAuth: []
      summary: deletes a customer
      tags:
      - customers
    get:
      description: Gets a customer resource that corresponds to a customer ID.
      operationId: getCustomerById
      parameters:
      - description: identifier
        example: 6307a60c41de27127515a575
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: use for knowing which language to use
        examples:
          es:
            summary: for spanish request/response
            value: es
          en:
            summary: for english request/response
            value: en
        in: header
        name: Accept-Language
        required: true
        schema:
          enum:
          - es
          - en
          type: string
      responses:
        "200":
          content:
            application/vnd.conekta-v2.1.0+json:
              schema:
                $ref: '#/components/schemas/customer_response'
          description: successful operation
        "422":
          content:
            application/vnd.conekta-v2.1.0+json:
              schema:
                $ref: '#/components/schemas/error_2_x_x'
          description: parameter validation error
        "401":
          content:
            application/vnd.conekta-v2.1.0+json:
              schema:
                $ref: '#/components/schemas/error_2_x_x'
          description: authentication error
        "500":
          content:
            application/vnd.conekta-v2.1.0+json:
              schema:
                $ref: '#/components/schemas/error_2_x_x'
          description: internal server error
      security:
      - bearerAuth: []
      summary: returns a customer
      tags:
      - customers
    put:
      description: You can update customer-related data
      operationId: updateCustomer
      parameters:
      - description: identifier
        example: 6307a60c41de27127515a575
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: use for knowing which language to use
        examples:
          es:
            summary: for spanish request/response
            value: es
          en:
            summary: for english request/response
            value: en
        in: header
        name: Accept-Language
        required: true
        schema:
          enum:
          - es
          - en
          type: string
      requestBody:
        $ref: '#/components/requestBodies/update_customer'
      responses:
        "200":
          content:
            application/vnd.conekta-v2.1.0+json:
              schema:
                $ref: '#/components/schemas/customer_response'
          description: successful operation
        "401":
          content:
            application/vnd.conekta-v2.1.0+json:
              schema:
                $ref: '#/components/schemas/error_2_x_x'
          description: authentication error
        "402":
          content:
            application/vnd.conekta-v2.1.0+json:
              schema:
                $ref: '#/components/schemas/error_2_x_x'
          description: payment required error
        "422":
          content:
            application/vnd.conekta-v2.1.0+json:
              schema:
                $ref: '#/components/schemas/error_2_x_x'
          description: parameter validation error
        "500":
          content:
            application/vnd.conekta-v2.1.0+json:
              schema:
                $ref: '#/components/schemas/error_2_x_x'
          description: internal server error
      security:
      - bearerAuth: []
      summary: updates a customer
      tags:
      - customers
  /customers/{id}/fiscal_entities:
    post:
      description: creates a customer resource that corresponds to a customer ID.
      operationId: CreateCustomerFiscalEntities
      parameters:
      - description: identifier
        example: 6307a60c41de27127515a575
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: use for knowing which language to use
        examples:
          es:
            summary: for spanish request/response
            value: es
          en:
            summary: for english request/response
            value: en
        in: header
        name: Accept-Language
        required: true
        schema:
          enum:
          - es
          - en
          type: string
      requestBody:
        $ref: '#/components/requestBodies/customer_fiscal_entities'
      responses:
        "200":
          content:
            application/vnd.conekta-v2.1.0+json:
              schema:
                $ref: '#/components/schemas/create_customer_fiscal_entities_response'
          description: successful operation
        "401":
          content:
            application/vnd.conekta-v2.1.0+json:
              schema:
                $ref: '#/components/schemas/error_2_x_x'
          description: authentication error
        "404":
          content:
            application/vnd.conekta-v2.1.0+json:
              schema:
                $ref: '#/components/schemas/error_2_x_x'
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/error_2_x_x'
          description: not found entity
        "422":
          content:
            application/vnd.conekta-v2.1.0+json:
              schema:
                $ref: '#/components/schemas/error_2_x_x'
          description: parameter validation error
        "500":
          content:
            application/vnd.conekta-v2.1.0+json:
              schema:
                $ref: '#/components/schemas/error_2_x_x'
          description: internal server error
      security:
      - bearerAuth: []
      summary: creates a fiscal entities
      tags:
      - customers
  /customers/{id}/fiscal_entities/{fiscal_entities_id}:
    put:
      description: updates a customer resource that corresponds to a customer ID.
      operationId: UpdateCustomerFiscalEntities
      parameters:
      - description: identifier
        example: 6307a60c41de27127515a575
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: identifier
        example: line_item_2tQ8HkkfbauaKP9Ho
        in: path
        name: fiscal_entities_id
        required: true
        schema:
          type: string
      - description: use for knowing which language to use
        examples:
          es:
            summary: for spanish request/response
            value: es
          en:
            summary: for english request/response
            value: en
        in: header
        name: Accept-Language
        required: true
        schema:
          enum:
          - es
          - en
          type: string
      requestBody:
        $ref: '#/components/requestBodies/customer_update_fiscal_entities'
      responses:
        "200":
          content:
            application/vnd.conekta-v2.1.0+json:
              schema:
                $ref: '#/components/schemas/update_customer_fiscal_entities_response'
          description: successful operation
        "401":
          content:
            application/vnd.conekta-v2.1.0+json:
              schema:
                $ref: '#/components/schemas/error_2_x_x'
          description: authentication error
        "404":
          content:
            application/vnd.conekta-v2.1.0+json:
              schema:
                $ref: '#/components/schemas/error_2_x_x'
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/error_2_x_x'
          description: not found entity
        "422":
          content:
            application/vnd.conekta-v2.1.0+json:
              schema:
                $ref: '#/components/schemas/error_2_x_x'
          description: parameter validation error
        "500":
          content:
            application/vnd.conekta-v2.1.0+json:
              schema:
                $ref: '#/components/schemas/error_2_x_x'
          description: internal server error
      security:
      - bearerAuth: []
      summary: updates a  fiscal entities
      tags:
      - customers
  /customers/{id}/payment_sources:
    post:
      description: Gets a payment source that corresponds to a customer ID.
      operationId: CreateCustomerPaymentSources
      parameters:
      - description: identifier
        example: 6307a60c41de27127515a575
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: use for knowing which language to use
        examples:
          es:
            summary: for spanish request/response
            value: es
          en:
            summary: for english request/response
            value: en
        in: header
        name: Accept-Language
        required: true
        schema:
          enum:
          - es
          - en
          type: string
      requestBody:
        $ref: '#/components/requestBodies/customer_payment_sources'
      responses:
        "200":
          content:
            application/vnd.conekta-v2.1.0+json:
              schema:
                $ref: '#/components/schemas/create_customer_payment_sources_response'
          description: successful operation
        "401":
          content:
            application/vnd.conekta-v2.1.0+json:
              schema:
                $ref: '#/components/schemas/error_2_x_x'
          description: authentication error
        "404":
          content:
            application/vnd.conekta-v2.1.0+json:
              schema:
                $ref: '#/components/schemas/error_2_x_x'
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/error_2_x_x'
          description: not found entity
        "422":
          content:
            application/vnd.conekta-v2.1.0+json:
              schema:
                $ref: '#/components/schemas/error_2_x_x'
          description: parameter validation error
        "500":
          content:
            application/vnd.conekta-v2.1.0+json:
              schema:
                $ref: '#/components/schemas/error_2_x_x'
          description: internal server error
      security:
      - bearerAuth: []
      summary: creates a payment source
      tags:
      - customers
  /customers/{id}/payment_sources/{payment_sources_id}:
    delete:
      description: deletes a payment  source that corresponds to a customer ID.
      operationId: DeleteCustomerPaymentSources
      parameters:
      - description: identifier
        example: 6307a60c41de27127515a575
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: identifier
        example: tax_lin_2tQ974hSHcsdeSZHG
        in: path
        name: payment_sources_id
        required: true
        schema:
          type: string
      - description: use for knowing which language to use
        examples:
          es:
            summary: for spanish request/response
            value: es
          en:
            summary: for english request/response
            value: en
        in: header
        name: Accept-Language
        required: true
        schema:
          enum:
          - es
          - en
          type: string
      responses:
        "200":
          content:
            application/vnd.conekta-v2.1.0+json:
              schema:
                $ref: '#/components/schemas/update_customer_payment_sources_response'
          description: successful operation
        "401":
          content:
            application/vnd.conekta-v2.1.0+json:
              schema:
                $ref: '#/components/schemas/error_2_x_x'
          description: authentication error
        "404":
          content:
            application/vnd.conekta-v2.1.0+json:
              schema:
                $ref: '#/components/schemas/error_2_x_x'
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/error_2_x_x'
          description: not found entity
        "422":
          content:
            application/vnd.conekta-v2.1.0+json:
              schema:
                $ref: '#/components/schemas/error_2_x_x'
          description: parameter validation error
        "500":
          content:
            application/vnd.conekta-v2.1.0+json:
              schema:
                $ref: '#/components/schemas/error_2_x_x'
          description: internal server error
      security:
      - bearerAuth: []
      summary: Deletes a payment source
      tags:
      - customers
    put:
      description: Gets a payment source that corresponds to a customer ID.
      operationId: UpdateCustomerPaymentSources
      parameters:
      - description: identifier
        example: 6307a60c41de27127515a575
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: identifier
        example: tax_lin_2tQ974hSHcsdeSZHG
        in: path
        name: payment_sources_id
        required: true
        schema:
          type: string
      - description: use for knowing which language to use
        examples:
          es:
            summary: for spanish request/response
            value: es
          en:
            summary: for english request/response
            value: en
        in: header
        name: Accept-Language
        required: true
        schema:
          enum:
          - es
          - en
          type: string
      requestBody:
        $ref: '#/components/requestBodies/customer_update_payment_sources'
      responses:
        "200":
          content:
            application/vnd.conekta-v2.1.0+json:
              schema:
                $ref: '#/components/schemas/update_customer_payment_sources_response'
          description: successful operation
        "401":
          content:
            application/vnd.conekta-v2.1.0+json:
              schema:
                $ref: '#/components/schemas/error_2_x_x'
          description: authentication error
        "404":
          content:
            application/vnd.conekta-v2.1.0+json:
              schema:
                $ref: '#/components/schemas/error_2_x_x'
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/error_2_x_x'
          description: not found entity
        "422":
          content:
            application/vnd.conekta-v2.1.0+json:
              schema:
                $ref: '#/components/schemas/error_2_x_x'
          description: parameter validation error
        "500":
          content:
            application/vnd.conekta-v2.1.0+json:
              schema:
                $ref: '#/components/schemas/error_2_x_x'
          description: internal server error
      security:
      - bearerAuth: []
      summary: updates a payment source
      tags:
      - customers
  /customers/{id}/shipping_contacts:
    post:
      description: Gets a customer resource that corresponds to a customer ID.
      operationId: CreateCustomerShippingContacts
      parameters:
      - description: identifier
        example: 6307a60c41de27127515a575
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: use for knowing which language to use
        examples:
          es:
            summary: for spanish request/response
            value: es
          en:
            summary: for english request/response
            value: en
        in: header
        name: Accept-Language
        required: true
        schema:
          enum:
          - es
          - en
          type: string
      requestBody:
        $ref: '#/components/requestBodies/customer_shipping_contacts'
      responses:
        "200":
          content:
            application/vnd.conekta-v2.1.0+json:
              schema:
                $ref: '#/components/schemas/customer_shipping_contacts_response'
          description: successful operation
        "401":
          content:
            application/vnd.conekta-v2.1.0+json:
              schema:
                $ref: '#/components/schemas/error_2_x_x'
          description: authentication error
        "404":
          content:
            application/vnd.conekta-v2.1.0+json:
              schema:
                $ref: '#/components/schemas/error_2_x_x'
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/error_2_x_x'
          description: not found entity
        "422":
          content:
            application/vnd.conekta-v2.1.0+json:
              schema:
                $ref: '#/components/schemas/error_2_x_x'
          description: parameter validation error
        "500":
          content:
            application/vnd.conekta-v2.1.0+json:
              schema:
                $ref: '#/components/schemas/error_2_x_x'
          description: internal server error
      security:
      - bearerAuth: []
      summary: creates a shipping contacts
      tags:
      - customers
  /customers/{id}/shipping_contacts/{shipping_contacts_id}:
    put:
      description: Gets a customer resource that corresponds to a customer ID.
      operationId: UpdateCustomerShippingContacts
      parameters:
      - description: identifier
        example: 6307a60c41de27127515a575
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: identifier
        example: 6307a60c41de27127515a575
        in: path
        name: shipping_contacts_id
        required: true
        schema:
          type: string
      - description: use for knowing which language to use
        examples:
          es:
            summary: for spanish request/response
            value: es
          en:
            summary: for english request/response
            value: en
        in: header
        name: Accept-Language
        required: true
        schema:
          enum:
          - es
          - en
          type: string
      requestBody:
        $ref: '#/components/requestBodies/customer_shipping_contacts'
      responses:
        "200":
          content:
            application/vnd.conekta-v2.1.0+json:
              schema:
                $ref: '#/components/schemas/customer_shipping_contacts_response'
          description: successful operation
        "401":
          content:
            application/vnd.conekta-v2.1.0+json:
              schema:
                $ref: '#/components/schemas/error_2_x_x'
          description: authentication error
        "404":
          content:
            application/vnd.conekta-v2.1.0+json:
              schema:
                $ref: '#/components/schemas/error_2_x_x'
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/error_2_x_x'
          description: not found entity
        "422":
          content:
            application/vnd.conekta-v2.1.0+json:
              schema:
                $ref: '#/components/schemas/error_2_x_x'
          description: parameter validation error
        "500":
          content:
            application/vnd.conekta-v2.1.0+json:
              schema:
                $ref: '#/components/schemas/error_2_x_x'
          description: internal server error
      security:
      - bearerAuth: []
      summary: updates a shipping contacts
      tags:
      - customers
  /customers/{id}/subscription:
    get:
      operationId: getSubscription
      parameters:
      - description: identifier
        example: 6307a60c41de27127515a575
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: use for knowing which language to use
        examples:
          es:
            summary: for spanish request/response
            value: es
          en:
            summary: for english request/response
            value: en
        in: header
        name: Accept-Language
        required: true
        schema:
          enum:
          - es
          - en
          type: string
      responses:
        "200":
          content:
            application/vnd.conekta-v2.1.0+json:
              schema:
                $ref: '#/components/schemas/subscription_response'
          description: successful
          headers:
            Date:
              description: The date and time that the response was sent
              schema:
                example: "Fri, 03 Feb 2023 16:57:48 GMT"
                type: string
            Content-Type:
              description: The format of the response body
              schema:
                example: application/json; charset=utf-8
                type: string
            Content-Length:
              description: The length of the response body in bytes
              schema:
                example: "2737"
                type: string
            Connection:
              description: The type of connection used to transfer the response
              schema:
                example: keep-alive
                type: string
            Conekta-Media-Type:
              schema:
                example: conekta-v2.1.0; format=application/json
                type: string
        "422":
          content:
            application/vnd.conekta-v2.1.0+json:
              schema:
                $ref: '#/components/schemas/error_2_x_x'
          description: parameter validation error
        "401":
          content:
            application/vnd.conekta-v2.1.0+json:
              schema:
                $ref: '#/components/schemas/error_2_x_x'
          description: authentication error
        "404":
          content:
            application/vnd.conekta-v2.1.0+json:
              schema:
                $ref: '#/components/schemas/error_2_x_x'
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/error_2_x_x'
          description: not found entity
        "500":
          content:
            application/vnd.conekta-v2.1.0+json:
              schema:
                $ref: '#/components/schemas/error_2_x_x'
          description: internal server error
      security:
      - bearerAuth: []
      summary: returns a subscription
      tags:
      - subscriptions
    post:
      operationId: createSubscription
      parameters:
      - description: identifier
        example: 6307a60c41de27127515a575
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: use for knowing which language to use
        examples:
          es:
            summary: for spanish request/response
            value: es
          en:
            summary: for english request/response
            value: en
        in: header
        name: Accept-Language
        required: true
        schema:
          enum:
          - es
          - en
          type: string
      requestBody:
        $ref: '#/components/requestBodies/subscription'
      responses:
        "200":
          content:
            application/vnd.conekta-v2.1.0+json:
              schema:
                $ref: '#/components/schemas/subscription_response'
          description: successful
          headers:
            Date:
              description: The date and time that the response was sent
              schema:
                example: "Fri, 03 Feb 2023 16:57:48 GMT"
                type: string
            Content-Type:
              description: The format of the response body
              schema:
                example: application/json; charset=utf-8
                type: string
            Content-Length:
              description: The length of the response body in bytes
              schema:
                example: "2737"
                type: string
            Connection:
              description: The type of connection used to transfer the response
              schema:
                example: keep-alive
                type: string
            Conekta-Media-Type:
              schema:
                example: conekta-v2.1.0; format=application/json
                type: string
        "422":
          content:
            application/vnd.conekta-v2.1.0+json:
              schema:
                $ref: '#/components/schemas/error_2_x_x'
          description: parameter validation error
        "401":
          content:
            application/vnd.conekta-v2.1.0+json:
              schema:
                $ref: '#/components/schemas/error_2_x_x'
          description: authentication error
        "404":
          content:
            application/vnd.conekta-v2.1.0+json:
              schema:
                $ref: '#/components/schemas/error_2_x_x'
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/error_2_x_x'
          description: not found entity
        "500":
          content:
            application/vnd.conekta-v2.1.0+json:
              schema:
                $ref: '#/components/schemas/error_2_x_x'
          description: internal server error
      security:
      - bearerAuth: []
      summary: creates a subscription
      tags:
      - subscriptions
    put:
      operationId: updateSubscription
      parameters:
      - description: identifier
        example: 6307a60c41de27127515a575
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: use for knowing which language to use
        examples:
          es:
            summary: for spanish request/response
            value: es
          en:
            summary: for english request/response
            value: en
        in: header
        name: Accept-Language
        required: true
        schema:
          enum:
          - es
          - en
          type: string
      requestBody:
        $ref: '#/components/requestBodies/subscription_update'
      responses:
        "200":
          content:
            application/vnd.conekta-v2.1.0+json:
              schema:
                $ref: '#/components/schemas/subscription_response'
          description: successful
          headers:
            Date:
              description: The date and time that the response was sent
              schema:
                example: "Fri, 03 Feb 2023 16:57:48 GMT"
                type: string
            Content-Type:
              description: The format of the response body
              schema:
                example: application/json; charset=utf-8
                type: string
            Content-Length:
              description: The length of the response body in bytes
              schema:
                example: "2737"
                type: string
            Connection:
              description: The type of connection used to transfer the response
              schema:
                example: keep-alive
                type: string
            Conekta-Media-Type:
              schema:
                example: conekta-v2.1.0; format=application/json
                type: string
        "422":
          content:
            application/vnd.conekta-v2.1.0+json:
              schema:
                $ref: '#/components/schemas/error_2_x_x'
          description: parameter validation error
        "401":
          content:
            application/vnd.conekta-v2.1.0+json:
              schema:
                $ref: '#/components/schemas/error_2_x_x'
          description: authentication error
        "404":
          content:
            application/vnd.conekta-v2.1.0+json:
              schema:
                $ref: '#/components/schemas/error_2_x_x'
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/error_2_x_x'
          description: not found entity
        "500":
          content:
            application/vnd.conekta-v2.1.0+json:
              schema:
                $ref: '#/components/schemas/error_2_x_x'
          description: internal server error
      security:
      - bearerAuth: []
      summary: updates a subscription
      tags:
      - subscriptions
  /customers/{id}/subscription/cancel:
    post:
      operationId: cancelSubscription
      parameters:
      - description: identifier
        example: 6307a60c41de27127515a575
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: use for knowing which language to use
        examples:
          es:
            summary: for spanish request/response
            value: es
          en:
            summary: for english request/response
            value: en
        in: header
        name: Accept-Language
        required: true
        schema:
          enum:
          - es
          - en
          type: string
      responses:
        "200":
          content:
            application/vnd.conekta-v2.1.0+json:
              schema:
                $ref: '#/components/schemas/subscription_response'
          description: successful
          headers:
            Date:
              description: The date and time that the response was sent
              schema:
                example: "Fri, 03 Feb 2023 16:57:48 GMT"
                type: string
            Content-Type:
              description: The format of the response body
              schema:
                example: application/json; charset=utf-8
                type: string
            Content-Length:
              description: The length of the response body in bytes
              schema:
                example: "2737"
                type: string
            Connection:
              description: The type of connection used to transfer the response
              schema:
                example: keep-alive
                type: string
            Conekta-Media-Type:
              schema:
                example: conekta-v2.1.0; format=application/json
                type: string
        "422":
          content:
            application/vnd.conekta-v2.1.0+json:
              schema:
                $ref: '#/components/schemas/error_2_x_x'
          description: parameter validation error
        "401":
          content:
            application/vnd.conekta-v2.1.0+json:
              schema:
                $ref: '#/components/schemas/error_2_x_x'
          description: authentication error
        "402":
          content:
            application/vnd.conekta-v2.1.0+json:
              schema:
                $ref: '#/components/schemas/error_2_x_x'
          description: payment required error
        "404":
          content:
            application/vnd.conekta-v2.1.0+json:
              schema:
                $ref: '#/components/schemas/error_2_x_x'
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/error_2_x_x'
          description: not found entity
        "500":
          content:
            application/vnd.conekta-v2.1.0+json:
              schema:
                $ref: '#/components/schemas/error_2_x_x'
          description: internal server error
      security:
      - bearerAuth: []
      summary: cancels a subscription
      tags:
      - subscriptions
  /customers/{id}/subscription/events:
    get:
      operationId: getAllEventsFromSubscription
      parameters:
      - description: identifier
        example: 6307a60c41de27127515a575
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: use for knowing which language to use
        examples:
          es:
            summary: for spanish request/response
            value: es
          en:
            summary: for english request/response
            value: en
        in: header
        name: Accept-Language
        required: true
        schema:
          enum:
          - es
          - en
          type: string
      responses:
        "200":
          content:
            application/vnd.conekta-v2.1.0+json:
              schema:
                $ref: '#/components/schemas/subscription_events_response'
          description: successful
          headers:
            Date:
              description: The date and time that the response was sent
              schema:
                example: "Fri, 03 Feb 2023 16:57:48 GMT"
                type: string
            Content-Type:
              description: The format of the response body
              schema:
                example: application/json; charset=utf-8
                type: string
            Content-Length:
              description: The length of the response body in bytes
              schema:
                example: "2737"
                type: string
            Connection:
              description: The type of connection used to transfer the response
              schema:
                example: keep-alive
                type: string
            Conekta-Media-Type:
              schema:
                example: conekta-v2.1.0; format=application/json
                type: string
        "401":
          content:
            application/vnd.conekta-v2.1.0+json:
              schema:
                $ref: '#/components/schemas/error_2_x_x'
          description: authentication error
        "402":
          content:
            application/vnd.conekta-v2.1.0+json:
              schema:
                $ref: '#/components/schemas/error_2_x_x'
          description: payment required error
        "404":
          content:
            application/vnd.conekta-v2.1.0+json:
              schema:
                $ref: '#/components/schemas/error_2_x_x'
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/error_2_x_x'
          description: not found entity
        "422":
          content:
            application/vnd.conekta-v2.1.0+json:
              schema:
                $ref: '#/components/schemas/error_2_x_x'
          description: parameter validation error
        "500":
          content:
            application/vnd.conekta-v2.1.0+json:
              schema:
                $ref: '#/components/schemas/error_2_x_x'
          description: internal server error
      security:
      - bearerAuth: []
      summary: "You can get the events of the subscription(s) of a client, with the\
        \ customer id"
      tags:
      - subscriptions
  /customers/{id}/subscription/pause:
    post:
      operationId: pauseSubscription
      parameters:
      - description: identifier
        example: 6307a60c41de27127515a575
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: use for knowing which language to use
        examples:
          es:
            summary: for spanish request/response
            value: es
          en:
            summary: for english request/response
            value: en
        in: header
        name: Accept-Language
        required: true
        schema:
          enum:
          - es
          - en
          type: string
      responses:
        "200":
          content:
            application/vnd.conekta-v2.1.0+json:
              schema:
                $ref: '#/components/schemas/subscription_response'
          description: successful
          headers:
            Date:
              description: The date and time that the response was sent
              schema:
                example: "Fri, 03 Feb 2023 16:57:48 GMT"
                type: string
            Content-Type:
              description: The format of the response body
              schema:
                example: application/json; charset=utf-8
                type: string
            Content-Length:
              description: The length of the response body in bytes
              schema:
                example: "2737"
                type: string
            Connection:
              description: The type of connection used to transfer the response
              schema:
                example: keep-alive
                type: string
            Conekta-Media-Type:
              schema:
                example: conekta-v2.1.0; format=application/json
                type: string
        "422":
          content:
            application/vnd.conekta-v2.1.0+json:
              schema:
                $ref: '#/components/schemas/error_2_x_x'
          description: parameter validation error
        "401":
          content:
            application/vnd.conekta-v2.1.0+json:
              schema:
                $ref: '#/components/schemas/error_2_x_x'
          description: authentication error
        "402":
          content:
            application/vnd.conekta-v2.1.0+json:
              schema:
                $ref: '#/components/schemas/error_2_x_x'
          description: payment required error
        "404":
          content:
            application/vnd.conekta-v2.1.0+json:
              schema:
                $ref: '#/components/schemas/error_2_x_x'
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/error_2_x_x'
          description: not found entity
        "500":
          content:
            application/vnd.conekta-v2.1.0+json:
              schema:
                $ref: '#/components/schemas/error_2_x_x'
          description: internal server error
      security:
      - bearerAuth: []
      summary: pauses a subscription
      tags:
      - subscriptions
  /customers/{id}/subscription/resume:
    post:
      operationId: resumeSubscription
      parameters:
      - description: identifier
        example: 6307a60c41de27127515a575
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: use for knowing which language to use
        examples:
          es:
            summary: for spanish request/response
            value: es
          en:
            summary: for english request/response
            value: en
        in: header
        name: Accept-Language
        required: true
        schema:
          enum:
          - es
          - en
          type: string
      responses:
        "200":
          content:
            application/vnd.conekta-v2.1.0+json:
              schema:
                $ref: '#/components/schemas/subscription_response'
          description: successful
          headers:
            Date:
              description: The date and time that the response was sent
              schema:
                example: "Fri, 03 Feb 2023 16:57:48 GMT"
                type: string
            Content-Type:
              description: The format of the response body
              schema:
                example: application/json; charset=utf-8
                type: string
            Content-Length:
              description: The length of the response body in bytes
              schema:
                example: "2737"
                type: string
            Connection:
              description: The type of connection used to transfer the response
              schema:
                example: keep-alive
                type: string
            Conekta-Media-Type:
              schema:
                example: conekta-v2.1.0; format=application/json
                type: string
        "401":
          content:
            application/vnd.conekta-v2.1.0+json:
              schema:
                $ref: '#/components/schemas/error_2_x_x'
          description: authentication error
        "402":
          content:
            application/vnd.conekta-v2.1.0+json:
              schema:
                $ref: '#/components/schemas/error_2_x_x'
          description: payment required error
        "404":
          content:
            application/vnd.conekta-v2.1.0+json:
              schema:
                $ref: '#/components/schemas/error_2_x_x'
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/error_2_x_x'
          description: not found entity
        "422":
          content:
            application/vnd.conekta-v2.1.0+json:
              schema:
                $ref: '#/components/schemas/error_2_x_x'
          description: parameter validation error
        "500":
          content:
            application/vnd.conekta-v2.1.0+json:
              schema:
                $ref: '#/components/schemas/error_2_x_x'
          description: internal server error
      security:
      - bearerAuth: []
      summary: resumes a subscription
      tags:
      - subscriptions
  /events:
    get:
      operationId: getEvents
      parameters:
      - description: use for knowing which language to use
        examples:
          es:
            summary: for spanish request/response
            value: es
          en:
            summary: for english request/response
            value: en
        in: header
        name: Accept-Language
        required: true
        schema:
          enum:
          - es
          - en
          type: string
      - description: "The numbers of items to return, the maximum value is 250"
        in: query
        name: limit
        required: false
        schema:
          default: 20
          format: int32
          type: integer
      - description: "General order search, e.g. by mail, reference etc."
        in: query
        name: search
        required: false
        schema:
          type: string
      - description: next page
        in: query
        name: next
        required: false
        schema:
          type: string
      - description: previous page
        in: query
        name: previous
        required: false
        schema:
          type: string
      responses:
        "200":
          content:
            application/vnd.conekta-v2.1.0+json:
              schema:
                $ref: '#/components/schemas/get_events_response'
          description: successful
          headers:
            Date:
              description: The date and time that the response was sent
              schema:
                example: "Fri, 03 Feb 2023 16:57:48 GMT"
                type: string
            Content-Type:
              description: The format of the response body
              schema:
                example: application/json; charset=utf-8
                type: string
            Content-Length:
              description: The length of the response body in bytes
              schema:
                example: "2737"
                type: string
            Connection:
              description: The type of connection used to transfer the response
              schema:
                example: keep-alive
                type: string
            Conekta-Media-Type:
              schema:
                example: conekta-v2.1.0; format=application/json
                type: string
        "422":
          content:
            application/vnd.conekta-v2.1.0+json:
              schema:
                $ref: '#/components/schemas/error_2_x_x'
          description: parameter validation error
        "401":
          content:
            application/vnd.conekta-v2.1.0+json:
              schema:
                $ref: '#/components/schemas/error_2_x_x'
          description: authentication error
        "500":
          content:
            application/vnd.conekta-v2.1.0+json:
              schema:
                $ref: '#/components/schemas/error_2_x_x'
          description: internal server error
      security:
      - bearerAuth: []
      summary: returns a set of /events
      tags:
      - events
  /events/{id}:
    get:
      operationId: getEvent
      parameters:
      - description: use for knowing which language to use
        examples:
          es:
            summary: for spanish request/response
            value: es
          en:
            summary: for english request/response
            value: en
        in: header
        name: Accept-Language
        required: true
        schema:
          enum:
          - es
          - en
          type: string
      - description: identifier
        example: 6307a60c41de27127515a575
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/vnd.conekta-v2.1.0+json:
              schema:
                $ref: '#/components/schemas/event_response'
          description: successful
          headers:
            Date:
              description: The date and time that the response was sent
              schema:
                example: "Fri, 03 Feb 2023 16:57:48 GMT"
                type: string
            Content-Type:
              description: The format of the response body
              schema:
                example: application/json; charset=utf-8
                type: string
            Content-Length:
              description: The length of the response body in bytes
              schema:
                example: "2737"
                type: string
            Connection:
              description: The type of connection used to transfer the response
              schema:
                example: keep-alive
                type: string
            Conekta-Media-Type:
              schema:
                example: conekta-v2.1.0; format=application/json
                type: string
        "422":
          content:
            application/vnd.conekta-v2.1.0+json:
              schema:
                $ref: '#/components/schemas/error_2_x_x'
          description: parameter validation error
        "401":
          content:
            application/vnd.conekta-v2.1.0+json:
              schema:
                $ref: '#/components/schemas/error_2_x_x'
          description: authentication error
        "500":
          content:
            application/vnd.conekta-v2.1.0+json:
              schema:
                $ref: '#/components/schemas/error_2_x_x'
          description: internal server error
      security:
      - bearerAuth: []
      summary: returns an event
      tags:
      - events
  /logs:
    get:
      operationId: getLogs
      parameters:
      - description: use for knowing which language to use
        examples:
          es:
            summary: for spanish request/response
            value: es
          en:
            summary: for english request/response
            value: en
        in: header
        name: Accept-Language
        required: true
        schema:
          enum:
          - es
          - en
          type: string
      - description: "The numbers of items to return, the maximum value is 250"
        in: query
        name: limit
        required: false
        schema:
          default: 20
          format: int32
          type: integer
      - description: "General order search, e.g. by mail, reference etc."
        in: query
        name: search
        required: false
        schema:
          type: string
      - description: next page
        in: query
        name: next
        required: false
        schema:
          type: string
      - description: previous page
        in: query
        name: previous
        required: false
        schema:
          type: string
      responses:
        "200":
          content:
            application/vnd.conekta-v2.1.0+json:
              schema:
                $ref: '#/components/schemas/logs_response'
          description: successful
          headers:
            Date:
              description: The date and time that the response was sent
              schema:
                example: "Fri, 03 Feb 2023 16:57:48 GMT"
                type: string
            Content-Type:
              description: The format of the response body
              schema:
                example: application/json; charset=utf-8
                type: string
            Content-Length:
              description: The length of the response body in bytes
              schema:
                example: "2737"
                type: string
            Connection:
              description: The type of connection used to transfer the response
              schema:
                example: keep-alive
                type: string
            Conekta-Media-Type:
              schema:
                example: conekta-v2.1.0; format=application/json
                type: string
        "422":
          content:
            application/vnd.conekta-v2.1.0+json:
              schema:
                $ref: '#/components/schemas/error_2_x_x'
          description: parameter validation error
        "401":
          content:
            application/vnd.conekta-v2.1.0+json:
              schema:
                $ref: '#/components/schemas/error_2_x_x'
          description: authentication error
        "500":
          content:
            application/vnd.conekta-v2.1.0+json:
              schema:
                $ref: '#/components/schemas/error_2_x_x'
          description: internal server error
      security:
      - bearerAuth: []
      summary: returns a set of /logs
      tags:
      - logs
  /logs/{id}:
    get:
      operationId: getLogById
      parameters:
      - description: identifier
        example: 6307a60c41de27127515a575
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: use for knowing which language to use
        examples:
          es:
            summary: for spanish request/response
            value: es
          en:
            summary: for english request/response
            value: en
        in: header
        name: Accept-Language
        required: true
        schema:
          enum:
          - es
          - en
          type: string
      responses:
        "200":
          content:
            application/vnd.conekta-v2.1.0+json:
              schema:
                $ref: '#/components/schemas/log_response'
          description: successful
        "422":
          content:
            application/vnd.conekta-v2.1.0+json:
              schema:
                $ref: '#/components/schemas/error_2_x_x'
          description: parameter validation error
        "401":
          content:
            application/vnd.conekta-v2.1.0+json:
              schema:
                $ref: '#/components/schemas/error_2_x_x'
          description: authentication error
        "500":
          content:
            application/vnd.conekta-v2.1.0+json:
              schema:
                $ref: '#/components/schemas/error_2_x_x'
          description: internal server error
      security:
      - bearerAuth: []
      summary: Info for a specific log
      tags:
      - logs
  /orders:
    get:
      description: returns a set of /orders.
      operationId: getOrders
      parameters:
      - description: use for knowing which language to use
        examples:
          es:
            summary: for spanish request/response
            value: es
          en:
            summary: for english request/response
            value: en
        in: header
        name: Accept-Language
        required: true
        schema:
          enum:
          - es
          - en
          type: string
      - description: "The numbers of items to return, the maximum value is 250"
        in: query
        name: limit
        required: false
        schema:
          default: 20
          format: int32
          type: integer
      - description: "General order search, e.g. by mail, reference etc."
        in: query
        name: search
        required: false
        schema:
          type: string
      - description: next page
        in: query
        name: next
        required: false
        schema:
          type: string
      - description: previous page
        in: query
        name: previous
        required: false
        schema:
          type: string
      responses:
        "200":
          content:
            application/vnd.conekta-v2.1.0+json:
              schema:
                $ref: '#/components/schemas/get_orders_response'
          description: successful operation
        "401":
          content:
            application/vnd.conekta-v2.1.0+json:
              schema:
                $ref: '#/components/schemas/error_2_x_x'
          description: authentication error
        "500":
          content:
            application/vnd.conekta-v2.1.0+json:
              schema:
                $ref: '#/components/schemas/error_2_x_x'
          description: internal server error
      security:
      - bearerAuth: []
      summary: returns a set of /orders
      tags:
      - orders
    post:
      description: Create a new order.
      operationId: createOrder
      parameters:
      - description: use for knowing which language to use
        examples:
          es:
            summary: for spanish request/response
            value: es
          en:
            summary: for english request/response
            value: en
        in: header
        name: Accept-Language
        required: true
        schema:
          enum:
          - es
          - en
          type: string
      requestBody:
        $ref: '#/components/requestBodies/order'
      responses:
        "200":
          content:
            application/vnd.conekta-v2.1.0+json:
              examples:
                cash:
                  $ref: '#/components/examples/order_cash'
                  value: null
                card:
                  $ref: '#/components/examples/order_card'
                  value: null
              schema:
                $ref: '#/components/schemas/order_response'
          description: successful operation
        "422":
          content:
            application/vnd.conekta-v2.1.0+json:
              schema:
                $ref: '#/components/schemas/error_2_x_x'
          description: parameter validation error
        "401":
          content:
            application/vnd.conekta-v2.1.0+json:
              schema:
                $ref: '#/components/schemas/error_2_x_x'
          description: authentication error
        "402":
          content:
            application/vnd.conekta-v2.1.0+json:
              schema:
                $ref: '#/components/schemas/error_2_x_x'
          description: payment required error
        "500":
          content:
            application/vnd.conekta-v2.1.0+json:
              schema:
                $ref: '#/components/schemas/error_2_x_x'
          description: internal server error
      security:
      - bearerAuth: []
      summary: creates a new order
      tags:
      - orders
  /orders/{id}:
    get:
      operationId: getOrderById
      parameters:
      - description: identifier
        example: 6307a60c41de27127515a575
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: use for knowing which language to use
        examples:
          es:
            summary: for spanish request/response
            value: es
          en:
            summary: for english request/response
            value: en
        in: header
        name: Accept-Language
        required: true
        schema:
          enum:
          - es
          - en
          type: string
      responses:
        "200":
          content:
            application/vnd.conekta-v2.1.0+json:
              schema:
                $ref: '#/components/schemas/order_response'
          description: successful
        "401":
          content:
            application/vnd.conekta-v2.1.0+json:
              schema:
                $ref: '#/components/schemas/error_2_x_x'
          description: authentication error
        "404":
          content:
            application/vnd.conekta-v2.1.0+json:
              schema:
                $ref: '#/components/schemas/error_2_x_x'
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/error_2_x_x'
          description: not found entity
        "500":
          content:
            application/vnd.conekta-v2.1.0+json:
              schema:
                $ref: '#/components/schemas/error_2_x_x'
          description: internal server error
      security:
      - bearerAuth: []
      summary: Info for a specific order
      tags:
      - orders
    put:
      operationId: updateOrder
      parameters:
      - description: identifier
        example: 6307a60c41de27127515a575
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: use for knowing which language to use
        examples:
          es:
            summary: for spanish request/response
            value: es
          en:
            summary: for english request/response
            value: en
        in: header
        name: Accept-Language
        required: true
        schema:
          enum:
          - es
          - en
          type: string
      requestBody:
        $ref: '#/components/requestBodies/order_update'
      responses:
        "200":
          content:
            application/vnd.conekta-v2.1.0+json:
              schema:
                $ref: '#/components/schemas/order_response'
          description: successful
        "401":
          content:
            application/vnd.conekta-v2.1.0+json:
              schema:
                $ref: '#/components/schemas/error_2_x_x'
          description: authentication error
        "404":
          content:
            application/vnd.conekta-v2.1.0+json:
              schema:
                $ref: '#/components/schemas/error_2_x_x'
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/error_2_x_x'
          description: not found entity
        "422":
          content:
            application/vnd.conekta-v2.1.0+json:
              schema:
                $ref: '#/components/schemas/error_2_x_x'
          description: parameter validation error
        "500":
          content:
            application/vnd.conekta-v2.1.0+json:
              schema:
                $ref: '#/components/schemas/error_2_x_x'
          description: internal server error
      security:
      - bearerAuth: []
      summary: Update an existing Order.
      tags:
      - orders
  /orders/{id}/capture:
    post:
      operationId: ordersCreateCapture
      parameters:
      - description: identifier
        example: 6307a60c41de27127515a575
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: use for knowing which language to use
        examples:
          es:
            summary: for spanish request/response
            value: es
          en:
            summary: for english request/response
            value: en
        in: header
        name: Accept-Language
        required: true
        schema:
          enum:
          - es
          - en
          type: string
      responses:
        "200":
          content:
            application/vnd.conekta-v2.1.0+json:
              schema:
                $ref: '#/components/schemas/order_response'
          description: successful
        "401":
          content:
            application/vnd.conekta-v2.1.0+json:
              schema:
                $ref: '#/components/schemas/error_2_x_x'
          description: authentication error
        "404":
          content:
            application/vnd.conekta-v2.1.0+json:
              schema:
                $ref: '#/components/schemas/error_2_x_x'
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/error_2_x_x'
          description: not found entity
        "428":
          content:
            application/vnd.conekta-v2.1.0+json:
              schema:
                $ref: '#/components/schemas/error_2_x_x'
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/error_2_x_x'
          description: Precondition Required
        "500":
          content:
            application/vnd.conekta-v2.1.0+json:
              schema:
                $ref: '#/components/schemas/error_2_x_x'
          description: internal server error
      security:
      - bearerAuth: []
      summary: Processes an order that has been previously authorized.
      tags:
      - orders
  /orders/{id}/charges:
    post:
      operationId: ordersCreateCharge
      parameters:
      - description: identifier
        example: 6307a60c41de27127515a575
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: use for knowing which language to use
        examples:
          es:
            summary: for spanish request/response
            value: es
          en:
            summary: for english request/response
            value: en
        in: header
        name: Accept-Language
        required: true
        schema:
          enum:
          - es
          - en
          type: string
      requestBody:
        $ref: '#/components/requestBodies/charge_create'
      responses:
        "200":
          content:
            application/vnd.conekta-v2.1.0+json:
              schema:
                $ref: '#/components/schemas/charge_order_response'
          description: successful
        "401":
          content:
            application/vnd.conekta-v2.1.0+json:
              schema:
                $ref: '#/components/schemas/error_2_x_x'
          description: authentication error
        "404":
          content:
            application/vnd.conekta-v2.1.0+json:
              schema:
                $ref: '#/components/schemas/error_2_x_x'
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/error_2_x_x'
          description: not found entity
        "500":
          content:
            application/vnd.conekta-v2.1.0+json:
              schema:
                $ref: '#/components/schemas/error_2_x_x'
          description: internal server error
      security:
      - bearerAuth: []
      summary: creates a new charge for an existing orden
      tags:
      - orders
  /orders/{id}/discount_lines:
    post:
      operationId: ordersCreateDiscountLine
      parameters:
      - description: identifier
        example: 6307a60c41de27127515a575
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: use for knowing which language to use
        examples:
          es:
            summary: for spanish request/response
            value: es
          en:
            summary: for english request/response
            value: en
        in: header
        name: Accept-Language
        required: true
        schema:
          enum:
          - es
          - en
          type: string
      requestBody:
        $ref: '#/components/requestBodies/discount_line_create'
      responses:
        "200":
          content:
            application/vnd.conekta-v2.1.0+json:
              schema:
                $ref: '#/components/schemas/discount_lines_response'
          description: successful
        "401":
          content:
            application/vnd.conekta-v2.1.0+json:
              schema:
                $ref: '#/components/schemas/error_2_x_x'
          description: authentication error
        "404":
          content:
            application/vnd.conekta-v2.1.0+json:
              schema:
                $ref: '#/components/schemas/error_2_x_x'
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/error_2_x_x'
          description: not found entity
        "500":
          content:
            application/vnd.conekta-v2.1.0+json:
              schema:
                $ref: '#/components/schemas/error_2_x_x'
          description: internal server error
      security:
      - bearerAuth: []
      summary: creates a new discount lines for an existing orden
      tags:
      - orders
  /orders/{id}/discount_lines/{discount_lines_id}:
    put:
      operationId: ordersUpdateDiscountLines
      parameters:
      - description: identifier
        example: 6307a60c41de27127515a575
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: identifier
        example: dis_lin_2tQ974hSHcsdeSZHG
        in: path
        name: discount_lines_id
        required: true
        schema:
          type: string
      - description: use for knowing which language to use
        examples:
          es:
            summary: for spanish request/response
            value: es
          en:
            summary: for english request/response
            value: en
        in: header
        name: Accept-Language
        required: true
        schema:
          enum:
          - es
          - en
          type: string
      requestBody:
        $ref: '#/components/requestBodies/discount_line_update'
      responses:
        "200":
          content:
            application/vnd.conekta-v2.1.0+json:
              schema:
                $ref: '#/components/schemas/discount_lines_response'
          description: successful
        "401":
          content:
            application/vnd.conekta-v2.1.0+json:
              schema:
                $ref: '#/components/schemas/error_2_x_x'
          description: authentication error
        "404":
          content:
            application/vnd.conekta-v2.1.0+json:
              schema:
                $ref: '#/components/schemas/error_2_x_x'
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/error_2_x_x'
          description: not found entity
        "422":
          content:
            application/vnd.conekta-v2.1.0+json:
              schema:
                $ref: '#/components/schemas/error_2_x_x'
          description: parameter validation error
        "500":
          content:
            application/vnd.conekta-v2.1.0+json:
              schema:
                $ref: '#/components/schemas/error_2_x_x'
          description: internal server error
      security:
      - bearerAuth: []
      summary: updates an existing discount lines for an existing orden
      tags:
      - orders
  /orders/{id}/line_items:
    post:
      operationId: ordersCreateLineItems
      parameters:
      - description: identifier
        example: 6307a60c41de27127515a575
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: use for knowing which language to use
        examples:
          es:
            summary: for spanish request/response
            value: es
          en:
            summary: for english request/response
            value: en
        in: header
        name: Accept-Language
        required: true
        schema:
          enum:
          - es
          - en
          type: string
      requestBody:
        $ref: '#/components/requestBodies/line_items_create'
      responses:
        "200":
          content:
            application/vnd.conekta-v2.1.0+json:
              schema:
                $ref: '#/components/schemas/line_items_order_response'
          description: successful
        "401":
          content:
            application/vnd.conekta-v2.1.0+json:
              schema:
                $ref: '#/components/schemas/error_2_x_x'
          description: authentication error
        "404":
          content:
            application/vnd.conekta-v2.1.0+json:
              schema:
                $ref: '#/components/schemas/error_2_x_x'
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/error_2_x_x'
          description: not found entity
        "500":
          content:
            application/vnd.conekta-v2.1.0+json:
              schema:
                $ref: '#/components/schemas/error_2_x_x'
          description: internal server error
      security:
      - bearerAuth: []
      summary: creates a new line items for an existing orden
      tags:
      - orders
  /orders/{id}/line_items/{line_item_id}:
    put:
      operationId: ordersUpdateLineItems
      parameters:
      - description: identifier
        example: 6307a60c41de27127515a575
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: identifier
        example: line_item_2tQ8HkkfbauaKP9Ho
        in: path
        name: line_item_id
        required: true
        schema:
          type: string
      - description: use for knowing which language to use
        examples:
          es:
            summary: for spanish request/response
            value: es
          en:
            summary: for english request/response
            value: en
        in: header
        name: Accept-Language
        required: true
        schema:
          enum:
          - es
          - en
          type: string
      requestBody:
        $ref: '#/components/requestBodies/line_items_update'
      responses:
        "200":
          content:
            application/vnd.conekta-v2.1.0+json:
              schema:
                $ref: '#/components/schemas/line_items_order_response'
          description: successful
        "401":
          content:
            application/vnd.conekta-v2.1.0+json:
              schema:
                $ref: '#/components/schemas/error_2_x_x'
          description: authentication error
        "422":
          content:
            application/vnd.conekta-v2.1.0+json:
              schema:
                $ref: '#/components/schemas/error_2_x_x'
          description: parameter validation error
        "404":
          content:
            application/vnd.conekta-v2.1.0+json:
              schema:
                $ref: '#/components/schemas/error_2_x_x'
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/error_2_x_x'
          description: not found entity
        "500":
          content:
            application/vnd.conekta-v2.1.0+json:
              schema:
                $ref: '#/components/schemas/error_2_x_x'
          description: internal server error
      security:
      - bearerAuth: []
      summary: updates a existing line items for an existing orden
      tags:
      - orders
  /orders/{id}/refunds:
    post:
      operationId: orderRefund
      parameters:
      - description: identifier
        example: 6307a60c41de27127515a575
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: use for knowing which language to use
        examples:
          es:
            summary: for spanish request/response
            value: es
          en:
            summary: for english request/response
            value: en
        in: header
        name: Accept-Language
        required: true
        schema:
          enum:
          - es
          - en
          type: string
      requestBody:
        $ref: '#/components/requestBodies/order_refunds_request'
      responses:
        "200":
          content:
[...]
