openapi: 3.1.0
info:
  description: Conekta sdk
  version: 2.3.0
  contact:
    name: Engineering Conekta
    url: https://github.com/conekta/openapi/issues
    email: engineering@conekta.com
  title: Conekta API
  license:
    name: MIT-LICENSE
    url: https://www.apache.org/licenses/LICENSE-2.0.html
servers:
  - url: https://api.conekta.io
    description: Conekta main server
security:
  - bearerAuth: []
tags:
  - name: Subscriptions
    description: All subscription-related endpoints including creation, management, and events
  - name: Subscriptions - Customer Portal
    description: Customer portal endpoints for subscriptions
paths:
  /antifraud/whitelists:
    get:
      tags:
        - Antifraud
      operationId: GetRuleWhitelist
      description: Return all rules
      summary: Get a list of whitelisted rules
      parameters:
        - $ref: '#/components/parameters/accept_language'
      responses:
        '200':
          description: All the rules
          content:
            application/vnd.conekta-v2.3.0+json:
              schema:
                $ref: '#/components/schemas/risk_rules_list'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '500':
          $ref: '#/components/responses/500'
    post:
      tags:
        - Antifraud
      operationId: CreateRuleWhitelist
      summary: Create whitelisted rule
      parameters:
        - $ref: '#/components/parameters/accept_language'
      responses:
        '200':
          description: successfully registered rule
          content:
            application/vnd.conekta-v2.3.0+json:
              schema:
                title: whitelistlist_rule_response
                properties:
                  id:
                    type: string
                    example: 2fw8EWJusiRrxdPzT
                    description: Whitelist rule id
                  field:
                    type: string
                    example: email
                    description: field used for whitelists rule
                  value:
                    type: string
                    example: email@example.com
                    description: value used for whitelists rule
                  description:
                    type: string
                    example: banned customer example@example.com
                    description: use an description for whitelisted rule
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '500':
          $ref: '#/components/responses/500'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/create_risk_rules_data'
  /antifraud/whitelists/{id}:
    delete:
      tags:
        - Antifraud
      operationId: DeleteRuleWhitelist
      parameters:
        - $ref: '#/components/parameters/id'
        - $ref: '#/components/parameters/accept_language'
        - $ref: '#/components/parameters/x_child_company_id'
      summary: Delete whitelisted rule
      responses:
        '200':
          description: successfully deleted rule
          content:
            application/vnd.conekta-v2.3.0+json:
              schema:
                title: deleted_whitelist_rule_response
                properties:
                  id:
                    type: string
                    example: 2fw8EWJusiRrxdPzT
                    description: Whitelist rule id
                  field:
                    type: string
                    example: email
                    description: field used for whitelists rule deleted
                  value:
                    type: string
                    example: email@example.com
                    description: value used for whitelists rule deleted
                  description:
                    type: string
                    example: secure customer example@example.com
                    description: use an description for whitelisted rule
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
  /antifraud/blacklists:
    get:
      tags:
        - Antifraud
      operationId: GetRuleBlacklist
      description: Return all rules
      summary: Get list of blacklisted rules
      parameters:
        - $ref: '#/components/parameters/accept_language'
      responses:
        '200':
          description: All the rules
          content:
            application/vnd.conekta-v2.3.0+json:
              schema:
                $ref: '#/components/schemas/risk_rules_list'
        '401':
          $ref: '#/components/responses/401'
        '500':
          $ref: '#/components/responses/500'
    post:
      tags:
        - Antifraud
      operationId: CreateRuleBlacklist
      summary: Create blacklisted rule
      parameters:
        - $ref: '#/components/parameters/accept_language'
      responses:
        '200':
          description: successfully registered rule
          content:
            application/vnd.conekta-v2.3.0+json:
              schema:
                title: blacklist_rule_response
                properties:
                  id:
                    type: string
                    example: 2fw8EWJusiRrxdPzT
                    description: Blacklist rule id
                  field:
                    type: string
                    example: email
                    description: field used for blacklists rule
                  value:
                    type: string
                    example: email@example.com
                    description: value used for blacklists rule
                  description:
                    type: string
                    example: secure customer example@example.com
                    description: use an description for blacklisted rule
        '401':
          $ref: '#/components/responses/401'
        '500':
          $ref: '#/components/responses/500'
      requestBody:
        description: requested field for blacklist rule
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/create_risk_rules_data'
        required: true
  /antifraud/blacklists/{id}:
    delete:
      summary: Delete blacklisted rule
      tags:
        - Antifraud
      operationId: DeleteRuleBlacklist
      parameters:
        - $ref: '#/components/parameters/id'
        - $ref: '#/components/parameters/accept_language'
        - $ref: '#/components/parameters/x_child_company_id'
      responses:
        '200':
          description: successfully deleted rule
          content:
            application/vnd.conekta-v2.3.0+json:
              schema:
                title: deleted_blacklist_rule_response
                properties:
                  id:
                    type: string
                    example: 2fw8EWJusiRrxdPzT
                    description: Blacklist rule id
                  field:
                    type: string
                    example: email
                    description: field used for blacklists rule deleted
                  value:
                    type: string
                    example: email@example.com
                    description: value used for blacklists rule deleted
                  description:
                    type: string
                    example: banned customer example@example.com
                    description: use an description for blacklisted rule
        '401':
          $ref: '#/components/responses/401'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
  /api_keys:
    get:
      tags:
        - Api Keys
      operationId: getApiKeys
      summary: Get list of Api Keys
      description: Consume the list of api keys you have
      responses:
        '200':
          description: successful
          content:
            application/vnd.conekta-v2.3.0+json:
              schema:
                title: get_api_keys_response
                allOf:
                  - $ref: '#/components/schemas/page'
                  - $ref: '#/components/schemas/pagination'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/api_key_response'
          headers:
            Content-Type:
              description: The format of the response body
              schema:
                type: string
                example: application/json; charset=utf-8
            Conekta-Media-Type:
              schema:
                type: string
                example: conekta-v2.3.0; format=application/json
        '401':
          $ref: '#/components/responses/401'
        '500':
          $ref: '#/components/responses/500'
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/accept_language'
        - $ref: '#/components/parameters/x_child_company_id'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/next_page'
        - $ref: '#/components/parameters/previous_page'
        - description: General search, e.g. by id, description, prefix
          in: query
          name: search
          required: false
          schema:
            type: string
    post:
      tags:
        - Api Keys
      operationId: createApiKey
      summary: Create Api Key
      description: Create a api key
      responses:
        '200':
          description: successful operation
          content:
            application/vnd.conekta-v2.3.0+json:
              schema:
                title: api_key_create_response
                allOf:
                  - type: object
                    properties:
                      authentication_token:
                        type: string
                        example: key_rpHzxufNgjFCdprEEFZRTKi
                        description: It is occupied as a user when authenticated with basic authentication, with a blank password. This value will only appear once, in the request to create a new key. Copy and save it in a safe place.
                  - $ref: '#/components/schemas/api_key_response'
          headers:
            Content-Type:
              description: The format of the response body
              schema:
                type: string
                example: application/json; charset=utf-8
            Conekta-Media-Type:
              schema:
                type: string
                example: conekta-v2.3.0; format=application/json
        '401':
          $ref: '#/components/responses/401'
        '422':
          $ref: '#/components/responses/422'
        '500':
          $ref: '#/components/responses/500'
      security:
        - bearerAuth: []
      requestBody:
        $ref: '#/components/requestBodies/api_keys_create'
      parameters:
        - $ref: '#/components/parameters/accept_language'
        - $ref: '#/components/parameters/x_child_company_id'
  /api_keys/{id}:
    get:
      tags:
        - Api Keys
      operationId: getApiKey
      summary: Get Api Key
      description: Gets a api key that corresponds to a api key ID
      responses:
        '200':
          description: successful
          content:
            application/vnd.conekta-v2.3.0+json:
              schema:
                $ref: '#/components/schemas/api_key_response'
          headers:
            Content-Type:
              description: The format of the response body
              schema:
                type: string
                example: application/json; charset=utf-8
            Conekta-Media-Type:
              schema:
                type: string
                example: conekta-v2.3.0; format=application/json
        '401':
          $ref: '#/components/responses/401'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/id'
        - $ref: '#/components/parameters/accept_language'
        - $ref: '#/components/parameters/x_child_company_id'
    put:
      tags:
        - Api Keys
      operationId: updateApiKey
      summary: Update Api Key
      description: Update an existing api key
      responses:
        '200':
          description: successful operation
          content:
            application/vnd.conekta-v2.3.0+json:
              schema:
                $ref: '#/components/schemas/api_key_response'
        '401':
          $ref: '#/components/responses/401'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
      security:
        - bearerAuth: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              title: api_key_update_request
              properties:
                active:
                  type: boolean
                  example: true
                  description: Indicates if the webhook key is active
                description:
                  type: string
                  example: online store
                  description: A name or brief explanation of what this api key is used for
      parameters:
        - $ref: '#/components/parameters/id'
        - $ref: '#/components/parameters/accept_language'
    delete:
      tags:
        - Api Keys
      operationId: deleteApiKey
      summary: Delete Api Key
      description: Deletes a api key that corresponds to a api key ID
      responses:
        '200':
          description: successful
          content:
            application/vnd.conekta-v2.3.0+json:
              schema:
                title: delete_api_keys_response
                allOf:
                  - $ref: '#/components/schemas/api_key_response_on_delete'
                  - type: object
                    properties:
                      deleted:
                        type: boolean
                        example: true
          headers:
            Content-Type:
              description: The format of the response body
              schema:
                type: string
                example: application/json; charset=utf-8
            Conekta-Media-Type:
              schema:
                type: string
                example: conekta-v2.3.0; format=application/json
        '401':
          $ref: '#/components/responses/401'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/id'
        - $ref: '#/components/parameters/accept_language'
  /balance:
    get:
      tags:
        - Balances
      operationId: getBalance
      summary: Get a company's balance
      description: Get a company's balance
      responses:
        '200':
          description: successful
          content:
            application/vnd.conekta-v2.3.0+json:
              schema:
                $ref: '#/components/schemas/balance_response'
          headers:
            Date:
              description: The date and time that the response was sent
              schema:
                type: string
                example: Fri, 03 Feb 2023 16:57:48 GMT
            Content-Type:
              description: The format of the response body
              schema:
                type: string
                example: application/json; charset=utf-8
            Content-Length:
              description: The length of the response body in bytes
              schema:
                type: string
                example: '2737'
            Connection:
              description: The type of connection used to transfer the response
              schema:
                type: string
                example: keep-alive
            Conekta-Media-Type:
              schema:
                type: string
                example: conekta-v2.3.0; format=application/json
        '401':
          $ref: '#/components/responses/401'
        '500':
          $ref: '#/components/responses/500'
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/accept_language'
  /charges:
    get:
      tags:
        - Charges
      operationId: getCharges
      summary: Get A List of Charges
      responses:
        '200':
          description: successful
          content:
            application/vnd.conekta-v2.3.0+json:
              schema:
                title: get_charges_response
                allOf:
                  - $ref: '#/components/schemas/pagination'
                  - $ref: '#/components/schemas/page'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/charge_response'
          headers:
            Date:
              description: The date and time that the response was sent
              schema:
                type: string
                example: Fri, 03 Feb 2023 16:57:48 GMT
            Content-Type:
              description: The format of the response body
              schema:
                type: string
                example: application/json; charset=utf-8
            Content-Length:
              description: The length of the response body in bytes
              schema:
                type: string
                example: '2737'
            Connection:
              description: The type of connection used to transfer the response
              schema:
                type: string
                example: keep-alive
            Conekta-Media-Type:
              schema:
                type: string
                example: conekta-v2.3.0; format=application/json
        '422':
          $ref: '#/components/responses/422_whitelist'
        '500':
          $ref: '#/components/responses/500'
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/accept_language'
        - $ref: '#/components/parameters/x_child_company_id'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/next_page'
        - $ref: '#/components/parameters/previous_page'
  /charges/{id}:
    put:
      tags:
        - Charges
      operationId: updateCharge
      summary: Update a charge
      responses:
        '200':
          description: successful
          content:
            application/vnd.conekta-v2.3.0+json:
              schema:
                $ref: '#/components/schemas/charge_response'
          headers:
            Date:
              description: The date and time that the response was sent
              schema:
                type: string
                example: Fri, 03 Feb 2023 16:57:48 GMT
            Content-Type:
              description: The format of the response body
              schema:
                type: string
                example: application/json; charset=utf-8
            Content-Length:
              description: The length of the response body in bytes
              schema:
                type: string
                example: '2737'
            Connection:
              description: The type of connection used to transfer the response
              schema:
                type: string
                example: keep-alive
            Conekta-Media-Type:
              schema:
                type: string
                example: conekta-v2.3.0; format=application/json
        '404':
          $ref: '#/components/responses/404'
        '422':
          $ref: '#/components/responses/422_whitelist'
        '500':
          $ref: '#/components/responses/500'
      security:
        - bearerAuth: []
      requestBody:
        $ref: '#/components/requestBodies/charge_update'
      parameters:
        - $ref: '#/components/parameters/id'
        - $ref: '#/components/parameters/accept_language'
        - $ref: '#/components/parameters/x_child_company_id'
  /orders/{id}/charges:
    post:
      tags:
        - Charges
      operationId: ordersCreateCharge
      summary: Create charge
      description: Create charge for an existing orden
      responses:
        '200':
          description: successful
          content:
            application/vnd.conekta-v2.3.0+json:
              schema:
                $ref: '#/components/schemas/charge_order_response'
        '401':
          $ref: '#/components/responses/401'
        '404':
          $ref: '#/components/responses/404'
        '428':
          $ref: '#/components/responses/428'
        '500':
          $ref: '#/components/responses/500'
      security:
        - bearerAuth: []
      requestBody:
        $ref: '#/components/requestBodies/charge_create'
      parameters:
        - $ref: '#/components/parameters/id'
        - $ref: '#/components/parameters/accept_language'
        - $ref: '#/components/parameters/x_child_company_id'
  /orders/{id}/add_charges:
    post:
      tags:
        - Charges
      operationId: ordersCreateCharges
      summary: Create charges
      description: Create charges for an existing orden
      responses:
        '200':
          description: successful
          content:
            application/vnd.conekta-v2.3.0+json:
              schema:
                $ref: '#/components/schemas/charges_order_response'
        '401':
          $ref: '#/components/responses/401'
        '404':
          $ref: '#/components/responses/404'
        '428':
          $ref: '#/components/responses/428'
        '500':
          $ref: '#/components/responses/500'
      security:
        - bearerAuth: []
      requestBody:
        $ref: '#/components/requestBodies/charge_create'
      parameters:
        - $ref: '#/components/parameters/id'
        - $ref: '#/components/parameters/accept_language'
        - $ref: '#/components/parameters/x_child_company_id'
  /companies:
    get:
      tags:
        - Companies
      operationId: getCompanies
      summary: Get List of Companies
      description: Consume the list of child companies.  This is used for holding companies with several child entities.
      responses:
        '200':
          description: successful
          content:
            application/vnd.conekta-v2.3.0+json:
              schema:
                title: get_companies_response
                allOf:
                  - $ref: '#/components/schemas/pagination'
                  - $ref: '#/components/schemas/page'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/company_response'
          headers:
            Date:
              description: The date and time that the response was sent
              schema:
                type: string
                example: Fri, 03 Feb 2023 16:57:48 GMT
            Content-Type:
              description: The format of the response body
              schema:
                type: string
                example: application/json; charset=utf-8
            Content-Length:
              description: The length of the response body in bytes
              schema:
                type: string
                example: '2737'
            Connection:
              description: The type of connection used to transfer the response
              schema:
                type: string
                example: keep-alive
            Conekta-Media-Type:
              schema:
                type: string
                example: conekta-v2.3.0; format=application/json
        '401':
          $ref: '#/components/responses/401'
        '500':
          $ref: '#/components/responses/500'
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/accept_language'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/next_page'
        - $ref: '#/components/parameters/previous_page'
    post:
      tags:
        - Companies
      operationId: createCompany
      summary: Create Company
      description: Create a new company.
      requestBody:
        description: Company data
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/create_company_request'
      responses:
        '201':
          description: Company created successfully
          content:
            application/vnd.conekta-v2.3.0+json:
              schema:
                $ref: '#/components/schemas/company_response'
          headers:
            Date:
              description: The date and time that the response was sent
              schema:
                type: string
            Content-Type:
              description: The format of the response body
              schema:
                type: string
            Content-Length:
              description: The length of the response body in bytes
              schema:
                type: string
            Connection:
              description: The type of connection used to transfer the response
              schema:
                type: string
            Conekta-Media-Type:
              schema:
                type: string
        '401':
          $ref: '#/components/responses/401'
        '500':
          $ref: '#/components/responses/500'
      security:
        - bearerAuth: []
  /companies/{id}:
    get:
      tags:
        - Companies
      operationId: getCompany
      summary: Get Company
      responses:
        '200':
          description: successful
          content:
            application/vnd.conekta-v2.3.0+json:
              schema:
                $ref: '#/components/schemas/company_response'
          headers:
            Date:
              description: The date and time that the response was sent
              schema:
                type: string
                example: Fri, 03 Feb 2023 16:57:48 GMT
            Content-Type:
              description: The format of the response body
              schema:
                type: string
                example: application/json; charset=utf-8
            Content-Length:
              description: The length of the response body in bytes
              schema:
                type: string
                example: '2737'
            Connection:
              description: The type of connection used to transfer the response
              schema:
                type: string
                example: keep-alive
            Conekta-Media-Type:
              schema:
                type: string
                example: conekta-v2.3.0; format=application/json
        '401':
          $ref: '#/components/responses/401'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/id'
        - $ref: '#/components/parameters/accept_language'
  /companies/current:
    get:
      tags:
        - Companies
      operationId: getCurrentCompany
      summary: Get Current Company
      description: Retrieves information about the currently authenticated company. This endpoint returns the same data as the standard company endpoint but automatically uses the current company's context.
      responses:
        '200':
          description: successful
          content:
            application/vnd.conekta-v2.3.0+json:
              schema:
                $ref: '#/components/schemas/company_response'
              example:
                id: 2a1b3c4d5e6f7g8h9i0j1k2l
                name: Mi Empresa S.A. de C.V.
                mcc: '5311'
                active: true
                account_status: activated
                antifraud_vertical: physical_goods
                created_at: 1510699009
                payment_link_enabled: true
                commercial_info:
                  web_page: https://miempresa.mx
                  facebook: ''
                  category: Venta al menudeo
                  average_sale: Range10KPlus
                  monthly_sales: Range0To100K
                  shipping: false
                  physical: false
                  already_selling: true
                  tos_page: https://miempresa.com/terminos
                  website_instructions: ''
                  object: commercial_info
                legal_info:
                  name: MARIA GONZALEZ
                  email: maria.gonzalez@miempresa.com
                  identification_type: ife
                  signed_contract_uploaded: false
                  curp: GOMA930207MSLNZR00
                  object: legal_info
                fiscal_info:
                  tax_id: EMP121008MU7
                  legal_entity_name: Mi Empresa S.A. de C.V.
                  business_type: Persona moral
                  phone: '5563794965'
                  address:
                    street1: AVENIDA INSURGENTES
                    street2: ROMA NORTE
                    street3: Cuauhtémoc
                    city: México
                    state: CIUDAD DE MEXICO
                    country: MEX
                    zip: '06700'
                    external_number: '123'
                    internal_number: '201'
                    object: address
                  bank_account:
                    account_number: '123456789012345678'
                    account_holder_name: Mi Empresa S.A. de C.V.
                    bank: Sistema de Transferencias y Pagos STP, S.A. de C.V., SOFOM E.N.R.
                    object: fiscal_info_bank_account
                  files:
                    - id: 1239z8y7x6w5v4u3t2s1r0q9p8o
                      file_name: constancia_fiscal.pdf
                      file_type: fiscal_id
                      url: https://example.com/documents/constancia-fiscal.pdf
                      object: file
                  object: fiscal_info
                user_accounts:
                  - role: owner
                    token: '1234567890'
                    livemode: true
                    object: user_account
                capture_fees:
                  oxxo_commission: 0.035
                  banorte_commission: 0.01
                  spei_commission: 0.01
                  amex_commission: 0.029
                  credit_commission: 0.029
                  debit_commission: 0.029
                  oxxo_fixed_cost: 0
                  banorte_fixed_cost: 1200
                  spei_fixed_cost: 800
                  amex_fixed_cost: 250
                  credit_fixed_cost: 250
                  debit_fixed_cost: 250
                  credit_three_month_installments_commission: 0.049
                  credit_six_month_installments_commission: 0.079
                  credit_nine_month_installments_commission: 0.109
                  credit_twelve_month_installments_commission: 0.139
                  amex_three_month_installments_commission: 0.039
                  amex_six_month_installments_commission: 0.059
                  amex_nine_month_installments_commission: 0.079
                  amex_twelve_month_installments_commission: 0.099
                webhooks:
                  - id: '1234567890'
                    url: https://miempresa.com/api/webhook
                    subscribed_events:
                      - charge.created
                      - charge.paid
                      - order.paid
                    status: listening
                    object: webhook
                    production_enabled: true
                    development_enabled: false
                object: company
                oxxo_payments_enabled: true
                spei_payments_enabled: true
                card_payments_enabled: true
                bnpl_payments_enabled: true
                direct_debit_payments_enabled: true
                voucher_card_enabled: false
                card_max_limit: 10000000
                voucher_card_categories: []
                internal_scopes:
                  - orders
                retention: true
                three_ds_enabled: true
                three_ds_mode: strict
          headers:
            Date:
              description: The date and time that the response was sent
              schema:
                type: string
                example: Fri, 03 Feb 2023 16:57:48 GMT
            Content-Type:
              description: The format of the response body
              schema:
                type: string
                example: application/json; charset=utf-8
            Content-Length:
              description: The length of the response body in bytes
              schema:
                type: string
                example: '2737'
            Connection:
              description: The type of connection used to transfer the response
              schema:
                type: string
                example: keep-alive
            Conekta-Media-Type:
              description: The version of the API used to process the request and the format of the response body
              schema:
                type: string
                example: conekta-v2.3.0; format=application/json
        '401':
          $ref: '#/components/responses/401'
        '500':
          $ref: '#/components/responses/500'
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/accept_language'
  /companies/{company_id}/document:
    post:
      tags:
        - Companies
      operationId: uploadCompanyDocument
      summary: Upload Company Document
      description: Uploads a document associated with a specific company.
      parameters:
        - name: company_id
          in: path
          required: true
          description: The unique identifier of the company.
          schema:
            type: string
            example: 6827206b1ec60400015eb09a
        - $ref: '#/components/parameters/accept_language'
      requestBody:
        description: Document information to upload.
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/company_document_request'
      responses:
        '201':
          description: Document uploaded successfully.
          content:
            application/vnd.conekta-v2.3.0+json:
              schema:
                $ref: '#/components/schemas/company_document_response'
          headers:
            Date:
              description: The date and time that the response was sent
              schema:
                type: string
            Content-Type:
              description: The format of the response body
              schema:
                type: string
            Content-Length:
              description: The length of the response body in bytes
              schema:
                type: string
            Connection:
              description: The type of connection used to transfer the response
              schema:
                type: string
            Conekta-Media-Type:
              schema:
                type: string
        '401':
          $ref: '#/components/responses/401'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
      security:
        - bearerAuth: []
    patch:
      tags:
        - Companies
      operationId: updateCompanyDocument
      summary: Update Company Document
      description: Updates an existing document associated with a specific company.
      parameters:
        - name: company_id
          in: path
          required: true
          description: The unique identifier of the company.
          schema:
            type: string
            example: 6827206b1ec60400015eb09a
        - $ref: '#/components/parameters/accept_language'
      requestBody:
        description: Document information to update.
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/company_document_request'
      responses:
        '200':
          description: Document updated successfully.
          content:
            application/vnd.conekta-v2.3.0+json:
              schema:
                $ref: '#/components/schemas/company_document_response'
          headers:
            Date:
              description: The date and time that the response was sent
              schema:
                type: string
            Content-Type:
              description: The format of the response body
              schema:
                type: string
            Content-Length:
              description: The length of the response body in bytes
              schema:
                type: string
            Connection:
              description: The type of connection used to transfer the response
              schema:
                type: string
            Conekta-Media-Type:
              schema:
                type: string
        '401':
          $ref: '#/components/responses/401'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
      security:
        - bearerAuth: []
  /companies/{company_id}/documents:
    get:
      tags:
        - Companies
      operationId: getCompanyDocuments
      summary: Get Company Documents
      description: Retrieve a list of documents associated with a specific company.
      parameters:
        - name: company_id
          in: path
          required: true
          description: The unique identifier of the company.
          schema:
            type: string
            example: 6307a60c41de27127515a575
        - $ref: '#/components/parameters/accept_language'
      responses:
        '200':
          description: A list of documents for the company.
          content:
            application/vnd.conekta-v2.3.0+json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/company_document_response'
          headers:
            Date:
              description: The date and time that the response was sent
              schema:
                type: string
            Content-Type:
              description: The format of the response body
              schema:
                type: string
            Content-Length:
              description: The length of the response body in bytes
              schema:
                type: string
            Connection:
              description: The type of connection used to transfer the response
              schema:
                type: string
            Conekta-Media-Type:
              schema:
                type: string
        '401':
          $ref: '#/components/responses/401'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
      security:
        - bearerAuth: []
  /customers:
    post:
      tags:
        - Customers
      operationId: createCustomer
      summary: Create customer
      description: |
        The purpose of business is to create and keep a customer, you will learn what elements you need to create a customer.
        Remember the credit and debit card tokenization process: [https://developers.conekta.com/page/web-checkout-tokenizer](https://developers.conekta.com/page/web-checkout-tokenizer)
      responses:
        '200':
          description: successful operation
          content:
            application/vnd.conekta-v2.3.0+json:
              schema:
                $ref: '#/components/schemas/customer_response'
          headers:
            Date:
              description: The date and time that the response was sent
              schema:
                type: string
                example: Fri, 03 Feb 2023 16:57:48 GMT
            Content-Type:
              description: The format of the response body
              schema:
                type: string
                example: application/json; charset=utf-8
            Content-Length:
              description: The length of the response body in bytes
              schema:
                type: string
                example: '2737'
            Connection:
              description: The type of connection used to transfer the response
              schema:
                type: string
                example: keep-alive
            Conekta-Media-Type:
              schema:
                type: string
                example: conekta-v2.3.0; format=application/json
        '401':
          $ref: '#/components/responses/401'
        '402':
          $ref: '#/components/responses/402'
        '422':
          $ref: '#/components/responses/422'
        '500':
          $ref: '#/components/responses/500'
      security:
        - bearerAuth: []
      requestBody:
        $ref: '#/components/requestBodies/customer'
      parameters:
        - $ref: '#/components/parameters/accept_language'
        - $ref: '#/components/parameters/x_child_company_id'
    get:
      tags:
        - Customers
      operationId: getCustomers
      summary: Get a list of customers
      description: The purpose of business is to create and maintain a client, you will learn what elements you need to obtain a list of clients, which can be paged.
      responses:
        '200':
          description: successful operation
          content:
            application/vnd.conekta-v2.3.0+json:
              schema:
                title: customers_response
                allOf:
                  - type: object
                    properties:
                      data:
                        title: customers_data_response
                        type: array
                        items:
                          $ref: '#/components/schemas/customer_response'
                  - $ref: '#/components/schemas/pagination'
                  - $ref: '#/components/schemas/page'
          headers:
            Date:
              description: The date and time that the response was sent
              schema:
                type: string
                example: Fri, 03 Feb 2023 16:57:48 GMT
            Content-Type:
              description: The format of the response body
              schema:
                type: string
                example: application/json; charset=utf-8
            Content-Length:
              description: The length of the response body in bytes
              schema:
                type: string
                example: '2737'
            Connection:
              description: The type of connection used to transfer the response
              schema:
                type: string
                example: keep-alive
            Conekta-Media-Type:
              schema:
                type: string
                example: conekta-v2.3.0; format=application/json
        '401':
          $ref: '#/components/responses/401'
        '500':
          $ref: '#/components/responses/500'
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/accept_language'
        - $ref: '#/components/parameters/x_child_company_id'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/next_page'
        - $ref: '#/components/parameters/previous_page'
  /customers/{id}:
    get:
      tags:
        - Customers
      operationId: getCustomerById
      summary: Get Customer
      description: Gets a customer resource that corresponds to a customer ID.
      responses:
        '200':
          description: successful operation
          content:
            application/vnd.conekta-v2.3.0+json:
              schema:
                $ref: '#/components/schemas/customer_response'
        '401':
          $ref: '#/components/responses/401'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/id'
        - $ref: '#/components/parameters/accept_language'
        - $ref: '#/components/parameters/x_child_company_id'
    delete:
      tags:
        - Customers
      operationId: deleteCustomerById
      summary: Delete Customer
      description: Deleted a customer resource that corresponds to a customer ID.
      responses:
        '200':
          description: successful operation
          content:
            application/vnd.conekta-v2.3.0+json:
              schema:
                $ref: '#/components/schemas/customer_response'
        '401':
          $ref: '#/components/responses/401'
        '404':
          $ref: '#/components/responses/404'
        '422':
          $ref: '#/components/responses/422'
        '500':
          $ref: '#/components/responses/500'
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/id'
        - $ref: '#/components/parameters/accept_language'
        - $ref: '#/components/parameters/x_child_company_id'
    put:
      tags:
        - Customers
      operationId: updateCustomer
      summary: Update customer
      description: You can update customer-related data
      responses:
        '200':
          description: successful operation
          content:
            application/vnd.conekta-v2.3.0+json:
              schema:
                $ref: '#/components/schemas/customer_response'
        '401':
          $ref: '#/components/responses/401'
        '402':
          $ref: '#/components/responses/402'
        '422':
          $ref: '#/components/responses/422'
        '500':
          $ref: '#/components/responses/500'
      security:
        - bearerAuth: []
      requestBody:
        $ref: '#/components/requestBodies/update_customer'
      parameters:
        - $ref: '#/components/parameters/id'
        - $ref: '#/components/parameters/accept_language'
        - $ref: '#/components/parameters/x_child_company_id'
  /customers/{id}/fiscal_entities:
    post:
      tags:
        - Customers
      operationId: CreateCustomerFiscalEntities
      summary: Create Fiscal Entity
      description: Create Fiscal entity resource that corresponds to a customer ID.
      responses:
        '200':
          description: successful operation
          content:
            application/vnd.conekta-v2.3.0+json:
              schema:
                title: create_customer_fiscal_entities_response
                allOf:
                  - $ref: '#/components/schemas/customer_fiscal_entities_request'
                  - type: object
                    required:
                      - id
                      - object
                      - created_at
                    properties:
                      id:
                        type: string
                        example: ship_cont_2tKZsTYcsryyu7Ah8
                      object:
                        type: string
                        example: shipping_contact
                      created_at:
                        type: integer
                        format: int64
                        example: 1675715413
                      parent_id:
                        type: string
                        example: cus_2tKcHxhTz7xU5SymF
                      default:
                        type: boolean
        '401':
          $ref: '#/components/responses/401'
        '404':
          $ref: '#/components/responses/404'
        '422':
          $ref: '#/components/responses/422'
        '500':
          $ref: '#/components/responses/500'
      security:
        - bearerAuth: []
      requestBody:
        $ref: '#/components/requestBodies/customer_fiscal_entities'
      parameters:
        - $ref: '#/components/parameters/id'
        - $ref: '#/components/parameters/accept_language'
        - $ref: '#/components/parameters/x_child_company_id'
  /customers/{id}/fiscal_entities/{fiscal_entities_id}:
    put:
      tags:
        - Customers
      operationId: UpdateCustomerFiscalEntities
      summary: Update  Fiscal Entity
      description: Update Fiscal Entity resource that corresponds to a customer ID.
      responses:
        '200':
          description: successful operation
          content:
            application/vnd.conekta-v2.3.0+json:
              schema:
                title: update_customer_fiscal_entities_response
                allOf:
                  - $ref: '#/components/schemas/customer_fiscal_entities_request'
                  - type: object
                    required:
                      - id
                      - object
                      - created_at
                    properties:
                      id:
                        type: string
                        example: fis_ent_2tKZsTYcsryyu7Ah8
                      object:
                        type: string
                        example: fiscal_entities
                      created_at:
                        type: integer
                        format: int64
                        example: 1675715413
                      parent_id:
                        type: string
                        example: cus_2tKcHxhTz7xU5SymF
                      default:
                        type: boolean
        '401':
          $ref: '#/components/responses/401'
        '404':
          $ref: '#/components/responses/404'
        '422':
          $ref: '#/components/responses/422'
        '500':
          $ref: '#/components/responses/500'
      security:
        - bearerAuth: []
      requestBody:
        $ref: '#/components/requestBodies/customer_update_fiscal_entities'
      parameters:
        - $ref: '#/components/parameters/id'
        - $ref: '#/components/parameters/fiscal_entities_id'
        - $ref: '#/components/parameters/accept_language'
        - $ref: '#/components/parameters/x_child_company_id'
  /orders/{id}/discount_lines:
    post:
      tags:
        - Discounts
      operationId: ordersCreateDiscountLine
      summary: Create Discount
      description: Create discount lines for an existing orden
      responses:
        '200':
          description: successful
          content:
            application/vnd.conekta-v2.3.0+json:
              schema:
                $ref: '#/components/schemas/discount_lines_response'
        '401':
          $ref: '#/components/responses/401'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
      security:
        - bearerAuth: []
      requestBody:
        $ref: '#/components/requestBodies/discount_line_create'
      parameters:
        - $ref: '#/components/parameters/id'
        - $ref: '#/components/parameters/accept_language'
        - $ref: '#/components/parameters/x_child_company_id'
    get:
      tags:
        - Discounts
      operationId: ordersGetDiscountLines
      summary: Get a List of Discount
      description: Get discount lines for an existing orden
      responses:
        '200':
          description: successful
          content:
            application/vnd.conekta-v2.3.0+json:
              schema:
                title: get_order_discount_lines_response
                allOf:
                  - $ref: '#/components/schemas/pagination'
                  - $ref: '#/components/schemas/page'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/discount_lines_response'
        '401':
          $ref: '#/components/responses/401'
        '500':
          $ref: '#/components/responses/500'
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/id'
        - $ref: '#/components/parameters/accept_language'
        - $ref: '#/components/parameters/x_child_company_id'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/next_page'
        - $ref: '#/components/parameters/previous_page'
  /orders/{id}/discount_lines/{discount_lines_id}:
    put:
      tags:
        - Discounts
      operationId: ordersUpdateDiscountLines
      summary: Update Discount
      description: Update an existing discount lines for an existing orden
      responses:
        '200':
          description: successful
          content:
            application/vnd.conekta-v2.3.0+json:
              schema:
                $ref: '#/components/schemas/discount_lines_response'
        '401':
          $ref: '#/components/responses/401'
        '404':
          $ref: '#/components/responses/404'
        '422':
          $ref: '#/components/responses/422'
        '500':
          $ref: '#/components/responses/500'
      security:
        - bearerAuth: []
      requestBody:
        $ref: '#/components/requestBodies/discount_line_update'
      parameters:
        - $ref: '#/components/parameters/id'
        - $ref: '#/components/parameters/discount_lines_id'
        - $ref: '#/components/parameters/accept_language'
        - $ref: '#/components/parameters/x_child_company_id'
    delete:
      tags:
        - Discounts
      operationId: ordersDeleteDiscountLines
      summary: Delete Discount
      description: Delete an existing discount lines for an existing orden
      responses:
        '200':
          description: successful
          content:
            application/vnd.conekta-v2.3.0+json:
              schema:
                $ref: '#/components/schemas/discount_lines_response'
        '401':
          $ref: '#/components/responses/401'
        '404':
          $ref: '#/components/responses/404'
        '422':
          $ref: '#/components/responses/422'
        '500':
          $ref: '#/components/responses/500'
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/id'
        - $ref: '#/components/parameters/discount_lines_id'
        - $ref: '#/components/parameters/accept_language'
        - $ref: '#/components/parameters/x_child_company_id'
    get:
      tags:
        - Discounts
      operationId: ordersGetDiscountLine
      summary: Get Discount
      description: Get an existing discount lines for an existing orden
      responses:
        '200':
          description: successful
          content:
            application/vnd.conekta-v2.3.0+json:
              schema:
                $ref: '#/components/schemas/discount_lines_response'
        '401':
          $ref: '#/components/responses/401'
        '404':
          $ref: '#/components/responses/404'
        '422':
          $ref: '#/components/responses/422'
        '500':
          $ref: '#/components/responses/500'
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/id'
        - $ref: '#/components/parameters/discount_lines_id'
        - $ref: '#/components/parameters/accept_language'
        - $ref: '#/components/parameters/x_child_company_id'
  /events:
    get:
      tags:
        - Events
      operationId: getEvents
      summary: Get list of Events
      responses:
        '200':
          description: successful
          content:
            application/vnd.conekta-v2.3.0+json:
              schema:
                title: get_events_response
                allOf:
                  - $ref: '#/components/schemas/pagination'
                  - $ref: '#/components/schemas/page'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/event_response'
          headers:
            Date:
              description: The date and time that the response was sent
              schema:
                type: string
                example: Fri, 03 Feb 2023 16:57:48 GMT
            Content-Type:
              description: The format of the response body
              schema:
                type: string
                example: application/json; charset=utf-8
            Content-Length:
              description: The length of the response body in bytes
              schema:
                type: string
                example: '2737'
            Connection:
              description: The type of connection used to transfer the response
              schema:
                type: string
                example: keep-alive
            Conekta-Media-Type:
              schema:
                type: string
                example: conekta-v2.3.0; format=application/json
        '401':
          $ref: '#/components/responses/401'
        '500':
          $ref: '#/components/responses/500'
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/accept_language'
        - $ref: '#/components/parameters/x_child_company_id'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/next_page'
        - $ref: '#/components/parameters/previous_page'
  /events/{id}:
    get:
      tags:
        - Events
      operationId: getEvent
      summary: Get Event
      description: Returns a single event
      responses:
        '200':
          description: successful
          content:
            application/vnd.conekta-v2.3.0+json:
              schema:
                $ref: '#/components/schemas/event_response'
          headers:
            Date:
              description: The date and time that the response was sent
              schema:
                type: string
                example: Fri, 03 Feb 2023 16:57:48 GMT
            Content-Type:
              description: The format of the response body
              schema:
                type: string
                example: application/json; charset=utf-8
            Content-Length:
              description: The length of the response body in bytes
              schema:
                type: string
                example: '2737'
            Connection:
              description: The type of connection used to transfer the response
              schema:
                type: string
                example: keep-alive
            Conekta-Media-Type:
              schema:
                type: string
                example: conekta-v2.3.0; format=application/json
        '401':
          $ref: '#/components/responses/401'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/accept_language'
        - $ref: '#/components/parameters/x_child_company_id'
        - $ref: '#/components/parameters/id'
  /events/{event_id}/resend:
    post:
      tags:
        - Events
      operationId: resendEvent
      summary: Resend Event
      description: Resend event to selected webhooks
      responses:
        '200':
          description: successful operation
          content:
            application/vnd.conekta-v2.3.0+json:
              schema:
                $ref: '#/components/schemas/events_resend_response'
        '401':
          $ref: '#/components/responses/401'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/event_id'
        - $ref: '#/components/parameters/accept_language'
      requestBody:
        description: requested fields for resend an event
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/resend_request'
        required: true
  /logs:
    get:
      tags:
        - Logs
      operationId: getLogs
      summary: Get List Of Logs
      description: Get log details in the form of a list
      responses:
        '200':
          description: successful
          content:
            application/vnd.conekta-v2.3.0+json:
              schema:
                $ref: '#/components/schemas/logs_response'
          headers:
            Date:
              description: The date and time that the response was sent
              schema:
                type: string
                example: Fri, 03 Feb 2023 16:57:48 GMT
            Content-Type:
              description: The format of the response body
              schema:
                type: string
                example: application/json; charset=utf-8
            Content-Length:
              description: The length of the response body in bytes
              schema:
                type: string
                example: '2737'
            Connection:
              description: The type of connection used to transfer the response
              schema:
                type: string
                example: keep-alive
            Conekta-Media-Type:
              schema:
                type: string
                example: conekta-v2.3.0; format=application/json
        '401':
          $ref: '#/components/responses/401'
        '500':
          $ref: '#/components/responses/500'
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/accept_language'
        - $ref: '#/components/parameters/x_child_company_id'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/next_page'
        - $ref: '#/components/parameters/previous_page'
  /logs/{id}:
    get:
      tags:
        - Logs
      operationId: getLogById
      summary: Get Log
      description: Get the details of a specific log
      responses:
        '200':
          description: successful
          content:
            application/vnd.conekta-v2.3.0+json:
              schema:
                $ref: '#/components/schemas/log_response'
        '401':
          $ref: '#/components/responses/401'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/id'
        - $ref: '#/components/parameters/accept_language'
        - $ref: '#/components/parameters/x_child_company_id'
  /orders:
    post:
      tags:
        - Orders
      operationId: createOrder
      summary: Create order
      description: Create a new order.
      responses:
        '200':
          description: successful operation
          content:
            application/vnd.conekta-v2.3.0+json:
              schema:
                $ref: '#/components/schemas/order_response'
              examples:
                cash:
                  $ref: '#/components/examples/order_cash'
                multiples_cash_charges:
                  $ref: '#/components/examples/order_cash_multiple'
                card:
                  $ref: '#/components/examples/order_card'
                bnpl:
                  $ref: '#/components/examples/order_bnpl'
                pay_by_bank:
                  $ref: '#/components/examples/order_pbb'
                checkout:
                  $ref: '#/components/examples/order_checkout'
        '401':
          $ref: '#/components/responses/401'
        '402':
          $ref: '#/components/responses/402'
        '422':
          $ref: '#/components/responses/422'
        '500':
          $ref: '#/components/responses/500'
      security:
        - bearerAuth: []
      requestBody:
        $ref: '#/components/requestBodies/order'
      parameters:
        - $ref: '#/components/parameters/accept_language'
        - $ref: '#/components/parameters/x_child_company_id'
    get:
      tags:
        - Orders
      operationId: getOrders
      summary: Get a list of Orders
      description: Get order details in the form of a list
      responses:
        '200':
          description: successful operation
          content:
            application/vnd.conekta-v2.3.0+json:
              schema:
                title: get_orders_response
                allOf:
                  - $ref: '#/components/schemas/orders_response'
                  - $ref: '#/components/schemas/pagination'
                  - $ref: '#/components/schemas/page'
        '401':
          $ref: '#/components/responses/401'
        '500':
          $ref: '#/components/responses/500'
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/accept_language'
        - $ref: '#/components/parameters/x_child_company_id'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/next_page'
        - $ref: '#/components/parameters/previous_page'
        - $ref: '#/components/parameters/payment_status'
        - $ref: '#/components/parameters/last_payment_info.status'
        - $ref: '#/components/parameters/created_at'
        - $ref: '#/components/parameters/created_at_gte'
        - $ref: '#/components/parameters/created_at_lte'
        - $ref: '#/components/parameters/updated_at_gte'
        - $ref: '#/components/parameters/updated_at_lte'
  /orders/{id}:
    get:
      tags:
        - Orders
      operationId: getOrderById
      description: Info for a specific order
      summary: Get Order
      responses:
        '200':
          description: successful
          content:
            application/vnd.conekta-v2.3.0+json:
              schema:
                $ref: '#/components/schemas/order_response'
        '401':
          $ref: '#/components/responses/401'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/id'
        - $ref: '#/components/parameters/accept_language'
        - $ref: '#/components/parameters/x_child_company_id'
    put:
      tags:
        - Orders
      operationId: updateOrder
      description: Update an existing Order.
      summary: Update Order
      responses:
        '200':
          description: successful
          content:
            application/vnd.conekta-v2.3.0+json:
              schema:
                $ref: '#/components/schemas/order_response'
        '401':
          $ref: '#/components/responses/401'
        '404':
          $ref: '#/components/responses/404'
        '422':
          $ref: '#/components/responses/422'
        '500':
          $ref: '#/components/responses/500'
      security:
        - bearerAuth: []
      requestBody:
        $ref: '#/components/requestBodies/order_update'
      parameters:
        - $ref: '#/components/parameters/id'
        - $ref: '#/components/parameters/accept_language'
  /orders/{id}/cancel:
    post:
      tags:
        - Orders
      operationId: CancelOrder
      description: Cancel an order that has been previously created.
      summary: Cancel Order
      responses:
        '200':
          description: successful
          content:
            application/vnd.conekta-v2.3.0+json:
              schema:
                $ref: '#/components/schemas/order_response'
        '401':
          $ref: '#/components/responses/401'
        '402':
          $ref: '#/components/responses/402'
        '404':
          $ref: '#/components/responses/404'
        '428':
          $ref: '#/components/responses/428'
        '500':
          $ref: '#/components/responses/500'
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/id'
        - $ref: '#/components/parameters/accept_language'
        - $ref: '#/components/parameters/x_child_company_id'
  /orders/{id}/capture:
    post:
      tags:
        - Orders
      operationId: ordersCreateCapture
      description: Processes an order that has been previously authorized.
      summary: Capture Order
      responses:
        '200':
          description: successful
          content:
            application/vnd.conekta-v2.3.0+json:
              schema:
                $ref: '#/components/schemas/order_response'
        '401':
          $ref: '#/components/responses/401'
        '404':
          $ref: '#/components/responses/404'
        '428':
          $ref: '#/components/responses/428'
        '500':
          $ref: '#/components/responses/500'
      security:
        - bearerAuth: []
      requestBody:
        description: requested fields for capture order
        content:
          application/json:
            schema:
              title: order_capture_request
              required:
                - amount
              properties:
                amount:
                  type: integer
                  format: int64
                  example: 500
                  description: Amount to capture
                  minimum: 1
      parameters:
        - $ref: '#/components/parameters/id'
        - $ref: '#/components/parameters/accept_language'
        - $ref: '#/components/parameters/x_child_company_id'
  /orders/{id}/line_items:
    post:
      tags:
        - Products
      operationId: ordersCreateProduct
      summary: Create Product
      description: Create a new product for an existing order.
      responses:
        '200':
          description: successful
          content:
            application/vnd.conekta-v2.3.0+json:
              schema:
                $ref: '#/components/schemas/product_order_response'
        '401':
          $ref: '#/components/responses/401'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
      security:
        - bearerAuth: []
      requestBody:
        $ref: '#/components/requestBodies/product_create'
      parameters:
        - $ref: '#/components/parameters/id'
        - $ref: '#/components/parameters/accept_language'
        - $ref: '#/components/parameters/x_child_company_id'
  /orders/{id}/line_items/{line_item_id}:
    put:
      tags:
        - Products
      operationId: ordersUpdateProduct
      description: Update an existing product for an existing orden
      summary: Update Product
      responses:
        '200':
          description: successful
          content:
            application/vnd.conekta-v2.3.0+json:
              schema:
                $ref: '#/components/schemas/product_order_response'
        '401':
          $ref: '#/components/responses/401'
        '404':
          $ref: '#/components/responses/404'
        '422':
          $ref: '#/components/responses/422'
        '500':
          $ref: '#/components/responses/500'
      security:
        - bearerAuth: []
      requestBody:
        $ref: '#/components/requestBodies/product_update'
      parameters:
        - $ref: '#/components/parameters/id'
        - $ref: '#/components/parameters/line_items_id'
        - $ref: '#/components/parameters/accept_language'
        - $ref: '#/components/parameters/x_child_company_id'
    delete:
      tags:
        - Products
      operationId: ordersDeleteProduct
      description: Delete product for an existing orden
      summary: Delete Product
      responses:
        '200':
          description: successful
          content:
            application/vnd.conekta-v2.3.0+json:
              schema:
                $ref: '#/components/schemas/product_order_response'
        '401':
          $ref: '#/components/responses/401'
        '404':
          $ref: '#/components/responses/404'
        '422':
          $ref: '#/components/responses/422'
        '500':
          $ref: '#/components/responses/500'
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/id'
        - $ref: '#/components/parameters/line_items_id'
        - $ref: '#/components/parameters/accept_language'
        - $ref: '#/components/parameters/x_child_company_id'
  /orders/{id}/refunds:
    post:
      tags:
        - Orders
      operationId: orderRefund
      description: A refunded order describes the items, amount, and reason an order is being refunded.
      summary: Refund Order
      responses:
        '200':
          description: successful
          content:
            application/vnd.conekta-v2.3.0+json:
              schema:
                $ref: '#/components/schemas/order_response'
        '401':
          $ref: '#/components/responses/401'
        '402':
          $ref: '#/components/responses/402'
        '404':
          $ref: '#/components/responses/404'
        '422':
          $ref: '#/components/responses/422'
        '500':
          $ref: '#/components/responses/500'
      security:
        - bearerAuth: []
      requestBody:
        $ref: '#/components/requestBodies/order_refunds_request'
      parameters:
        - $ref: '#/components/parameters/id'
        - $ref: '#/components/parameters/accept_language'
        - $ref: '#/components/parameters/x_child_company_id'
  /orders/{id}/refunds/{refund_id}:
    delete:
      tags:
        - Orders
      operationId: orderCancelRefund
      description: A refunded order describes the items, amount, and reason an order is being refunded.
      summary: Cancel Refund
      responses:
        '200':
          description: successful
          content:
            application/vnd.conekta-v2.3.0+json:
              schema:
                $ref: '#/components/schemas/order_response'
        '401':
          $ref: '#/components/responses/401'
        '402':
          $ref: '#/components/responses/402'
        '404':
          $ref: '#/components/responses/404'
        '422':
          $ref: '#/components/responses/422'
        '500':
          $ref: '#/components/responses/500'
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/id'
        - $ref: '#/components/parameters/refund_id'
        - $ref: '#/components/parameters/accept_language'
        - $ref: '#/components/parameters/x_child_company_id'
  /payout_orders:
    post:
      tags:
        - Payout Orders
      operationId: createPayoutOrder
      summary: Create payout order
      description: Create a new payout order.
      responses:
        '200':
          description: successful operation
          content:
            application/vnd.conekta-v2.3.0+json:
              schema:
                $ref: '#/components/schemas/payout_order_response'
        '401':
          $ref: '#/components/responses/401'
        '402':
          $ref: '#/components/responses/402'
        '404':
          $ref: '#/components/responses/404'
        '422':
          $ref: '#/components/responses/422'
        '500':
          $ref: '#/components/responses/500'
      security:
        - bearerAuth: []
      requestBody:
        $ref: '#/components/requestBodies/payout_order'
      parameters:
        - $ref: '#/components/parameters/accept_language'
    get:
      tags:
        - Payout Orders
      operationId: getPayoutOrders
      summary: Get a list of Payout Orders
      description: Get Payout order details in the form of a list
      responses:
        '200':
          description: successful operation
          content:
            application/vnd.conekta-v2.3.0+json:
              schema:
                title: payout_orders_response
                allOf:
                  - type: object
                    properties:
                      data:
                        title: payout_orders_data_response
                        type: array
                        items:
                          $ref: '#/components/schemas/payout_order_response'
                  - $ref: '#/components/schemas/pagination'
                  - $ref: '#/components/schemas/page'
        '401':
          $ref: '#/components/responses/401'
        '500':
          $ref: '#/components/responses/500'
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/accept_language'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/next_page'
        - $ref: '#/components/parameters/previous_page'
  /payout_orders/{id}:
    get:
      tags:
        - Payout Orders
      operationId: getPayoutOrderById
      summary: Get Payout Order
      description: Gets a payout Order resource that corresponds to a payout order ID.
      responses:
        '200':
          description: successful operation
          content:
            application/vnd.conekta-v2.3.0+json:
              schema:
                $ref: '#/components/schemas/payout_order_response'
        '401':
          $ref: '#/components/responses/401'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/id'
        - $ref: '#/components/parameters/accept_language'
  /payout_orders/{id}/cancel:
    put:
      tags:
        - Payout Orders
      operationId: cancelPayoutOrderById
      summary: Cancel Payout Order
      description: Cancel a payout Order resource that corresponds to a payout order ID.
      responses:
        '200':
          description: successful operation
          content:
            application/vnd.conekta-v2.3.0+json:
              schema:
                $ref: '#/components/schemas/payout_order_response'
        '401':
          $ref: '#/components/responses/401'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/id'
        - $ref: '#/components/parameters/accept_language'
  /checkouts:
    get:
      tags:
        - Payment Link
      operationId: getCheckouts
      summary: Get a list of payment links
      description: Returns a list of links generated by the merchant
      responses:
        '200':
          description: successful operation
          content:
            application/vnd.conekta-v2.3.0+json:
              schema:
                title: checkouts_response
                allOf:
                  - $ref: '#/components/schemas/pagination'
                  - $ref: '#/components/schemas/page'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/checkout_response'
          headers:
            Date:
              description: The date and time that the response was sent
              schema:
                type: string
                example: Fri, 03 Feb 2023 16:57:48 GMT
            Content-Type:
              description: The format of the response body
              schema:
                type: string
                example: application/json; charset=utf-8
            Content-Length:
              description: The length of the response body in bytes
              schema:
                type: string
                example: '2737'
            Connection:
              description: The type of connection used to transfer the response
              schema:
                type: string
                example: keep-alive
            Conekta-Media-Type:
              schema:
                type: string
                example: conekta-v2.3.0; format=application/json
        '401':
          $ref: '#/components/responses/401'
        '402':
          $ref: '#/components/responses/402'
        '422':
          $ref: '#/components/responses/422'
        '500':
          $ref: '#/components/responses/500'
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/accept_language'
        - $ref: '#/components/parameters/x_child_company_id'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/next_page'
        - $ref: '#/components/parameters/previous_page'
    post:
      tags:
        - Payment Link
      operationId: createCheckout
      summary: Create Unique Payment Link
      responses:
        '200':
          description: successful operation
          content:
            application/vnd.conekta-v2.3.0+json:
              schema:
                $ref: '#/components/schemas/checkout_response'
          headers:
            Date:
              description: The date and time that the response was sent
              schema:
                type: string
                example: Fri, 03 Feb 2023 16:57:48 GMT
            Content-Type:
              description: The format of the response body
              schema:
                type: string
                example: application/json; charset=utf-8
            Content-Length:
              description: The length of the response body in bytes
              schema:
                type: string
                example: '2737'
            Connection:
              description: The type of connection used to transfer the response
              schema:
                type: string
                example: keep-alive
            Conekta-Media-Type:
              description: The version of the API used to process the request and the format of the response body
              schema:
                type: string
                example: conekta-v2.3.0; format=application/json
        '401':
          $ref: '#/components/responses/401'
        '402':
          $ref: '#/components/responses/402'
        '422':
          $ref: '#/components/responses/422'
        '500':
          $ref: '#/components/responses/500'
      security:
        - bearerAuth: []
      requestBody:
        $ref: '#/components/requestBodies/checkout'
      parameters:
        - $ref: '#/components/parameters/accept_language'
        - $ref: '#/components/parameters/x_child_company_id'
  /checkouts/{id}:
    get:
      tags:
        - Payment Link
      operationId: getCheckout
      summary: Get a payment link by ID
      responses:
        '200':
          description: successful operation
          content:
            application/vnd.conekta-v2.3.0+json:
              schema:
                $ref: '#/components/schemas/checkout_response'
          headers:
            Date:
              description: The date and time that the response was sent
              schema:
                type: string
                example: Fri, 03 Feb 2023 16:57:48 GMT
            Content-Type:
              description: The format of the response body
              schema:
                type: string
                example: application/json; charset=utf-8
            Content-Length:
              description: The length of the response body in bytes
              schema:
                type: string
                example: '2737'
            Connection:
              description: The type of connection used to transfer the response
              schema:
                type: string
                example: keep-alive
            Conekta-Media-Type:
              schema:
                type: string
                example: conekta-v2.3.0; format=application/json
        '401':
          $ref: '#/components/responses/401'
        '402':
          $ref: '#/components/responses/402'
        '404':
          $ref: '#/components/responses/404'
        '422':
          $ref: '#/components/responses/422'
        '500':
          $ref: '#/components/responses/500'
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/accept_language'
        - $ref: '#/components/parameters/x_child_company_id'
        - $ref: '#/components/parameters/id'
  /checkouts/{id}/cancel:
    put:
      tags:
        - Payment Link
      operationId: cancelCheckout
      summary: Cancel Payment Link
      responses:
        '200':
          description: successful operation
          content:
            application/vnd.conekta-v2.3.0+json:
              schema:
                $ref: '#/components/schemas/checkout_response'
          headers:
            Date:
              description: The date and time that the response was sent
              schema:
                type: string
                example: Fri, 03 Feb 2023 16:57:48 GMT
            Content-Type:
              description: The format of the response body
              schema:
                type: string
                example: application/json; charset=utf-8
            Content-Length:
              description: The length of the response body in bytes
              schema:
                type: string
                example: '2737'
            Connection:
              description: The type of connection used to transfer the response
              schema:
                type: string
                example: keep-alive
            Conekta-Media-Type:
              schema:
                type: string
                example: conekta-v2.3.0; format=application/json
        '401':
          $ref: '#/components/responses/401'
        '402':
          $ref: '#/components/responses/402'
        '404':
          $ref: '#/components/responses/404'
        '422':
          $ref: '#/components/responses/422'
        '500':
          $ref: '#/components/responses/500'
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/accept_language'
        - $ref: '#/components/parameters/x_child_company_id'
        - $ref: '#/components/parameters/id'
  /checkouts/{id}/email:
    post:
      tags:
        - Payment Link
      operationId: emailCheckout
      summary: Send an email
      responses:
        '200':
          description: successful operation
          content:
            application/vnd.conekta-v2.3.0+json:
              schema:
                $ref: '#/components/schemas/checkout_response'
          headers:
            Date:
              description: The date and time that the response was sent
              schema:
                type: string
                example: Fri, 03 Feb 2023 16:57:48 GMT
            Content-Type:
              description: The format of the response body
              schema:
                type: string
                example: application/json; charset=utf-8
            Content-Length:
              description: The length of the response body in bytes
              schema:
                type: string
                example: '2737'
            Connection:
              description: The type of connection used to transfer the response
              schema:
                type: string
                example: keep-alive
            Conekta-Media-Type:
              schema:
                type: string
                example: conekta-v2.3.0; format=application/json
        '401':
          $ref: '#/components/responses/401'
        '402':
          $ref: '#/components/responses/402'
        '404':
          $ref: '#/components/responses/404'
        '422':
          $ref: '#/components/responses/422'
        '500':
          $ref: '#/components/responses/500'
      security:
        - bearerAuth: []
      requestBody:
        $ref: '#/components/requestBodies/checkout_email'
      parameters:
        - $ref: '#/components/parameters/accept_language'
        - $ref: '#/components/parameters/x_child_company_id'
        - $ref: '#/components/parameters/id'
  /checkouts/{id}/sms:
    post:
      tags:
        - Payment Link
      operationId: smsCheckout
      summary: Send an sms
      responses:
        '200':
          description: successful operation
          content:
            application/vnd.conekta-v2.3.0+json:
              schema:
                $ref: '#/components/schemas/checkout_response'
          headers:
            Date:
              description: The date and time that the response was sent
              schema:
                type: string
                example: Fri, 03 Feb 2023 16:57:48 GMT
            Content-Type:
              description: The format of the response body
              schema:
                type: string
                example: application/json; charset=utf-8
            Content-Length:
              description: The length of the response body in bytes
              schema:
                type: string
                example: '2737'
            Connection:
              description: The type of connection used to transfer the response
              schema:
                type: string
                example: keep-alive
            Conekta-Media-Type:
              schema:
                type: string
                example: conekta-v2.3.0; format=application/json
        '401':
          $ref: '#/components/responses/401'
        '402':
          $ref: '#/components/responses/402'
        '404':
          $ref: '#/components/responses/404'
        '422':
          $ref: '#/components/responses/422'
        '500':
          $ref: '#/components/responses/500'
      security:
        - bearerAuth: []
      requestBody:
        $ref: '#/components/requestBodies/checkout_sms'
      parameters:
        - $ref: '#/components/parameters/accept_language'
        - $ref: '#/components/parameters/x_child_company_id'
        - $ref: '#/components/parameters/id'
  /customers/{id}/payment_sources:
    post:
      tags:
        - Payment Methods
      operationId: CreateCustomerPaymentMethods
      summary: Create Payment Method
      description: Create a payment method for a customer.
      responses:
        '200':
          description: successful operation
          content:
            application/vnd.conekta-v2.3.0+json:
              schema:
                title: create_customer_payment_methods_response
                discriminator:
                  propertyName: type
                  mapping:
                    cash: payment_method_cash_response
                    card: payment_method_card_response
                    cash_recurrent: payment_method_cash_recurrent_response
                    spei_recurrent: payment_method_spei_recurrent_response
                oneOf:
                  - $ref: '#/components/schemas/payment_method_cash_response'
                  - $ref: '#/components/schemas/payment_method_cash_recurrent_response'
                  - $ref: '#/components/schemas/payment_method_card_response'
                  - $ref: '#/components/schemas/payment_method_spei_recurrent_response'
        '401':
          $ref: '#/components/responses/401'
        '404':
          $ref: '#/components/responses/404'
        '422':
          $ref: '#/components/responses/422'
        '500':
          $ref: '#/components/responses/500'
      security:
        - bearerAuth: []
      requestBody:
        $ref: '#/components/requestBodies/customer_payment_methods'
      parameters:
        - $ref: '#/components/parameters/id'
        - $ref: '#/components/parameters/accept_language'
        - $ref: '#/components/parameters/x_child_company_id'
    get:
      tags:
        - Payment Methods
      operationId: GetCustomerPaymentMethods
      summary: Get Payment Methods
      description: Get a list of Payment Methods
      responses:
        '200':
          description: successful operation
          content:
            application/vnd.conekta-v2.3.0+json:
              schema:
                title: get_payment_method_response
                allOf:
                  - $ref: '#/components/schemas/pagination'
                  - $ref: '#/components/schemas/page'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          title: get_customer_payment_method_data_response
                          discriminator:
                            propertyName: type
                            mapping:
                              cash: payment_method_cash_response
                              card: payment_method_card_response
                              cash_recurrent: payment_method_cash_recurrent_response
                              spei_recurrent: payment_method_spei_recurrent_response
                          oneOf:
                            - $ref: '#/components/schemas/payment_method_cash_recurrent_response'
                            - $ref: '#/components/schemas/payment_method_cash_response'
                            - $ref: '#/components/schemas/payment_method_card_response'
                            - $ref: '#/components/schemas/payment_method_spei_recurrent_response'
              examples:
                cash:
                  $ref: '#/components/examples/customer_payment_source_cash_example'
                  summary: Cash
                card:
                  value:
                    next_page_url: null
                    previous_page_url: null
                    has_more: false
                    object: list
                    data:
                      - id: src_2tbd5Bg327RL9oyas
                        object: payment_source
                        type: card
                        created_at: 1679958561
                        last4: '0526'
                        bin: '41898989'
                        card_type: debit
                        exp_month: '01'
                        exp_year: '25'
                        brand: visa
                        issuer: santander
                        name: random name
                        parent_id: cus_2tUkvasdas1s4ihjs
                        default: false
                        payment_source_status: active
                        visible_on_checkout: false
                  summary: Card
        '401':
          $ref: '#/components/responses/401'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/id'
        - $ref: '#/components/parameters/accept_language'
        - $ref: '#/components/parameters/x_child_company_id'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/next_page'
        - $ref: '#/components/parameters/previous_page'
        - $ref: '#/components/parameters/search'
  /customers/{id}/payment_sources/{payment_method_id}:
    put:
      tags:
        - Payment Methods
      operationId: UpdateCustomerPaymentMethods
      summary: Update Payment Method
      description: Gets a payment Method that corresponds to a customer ID.
      responses:
        '200':
          description: successful operation
          content:
            application/vnd.conekta-v2.3.0+json:
              schema:
                title: update_customer_payment_methods_response
                discriminator:
                  propertyName: type
                  mapping:
                    cash: payment_method_cash_response
                    card: payment_method_card_response
                    cash_recurrent: payment_method_cash_recurrent_response
                    spei_recurrent: payment_method_spei_recurrent_response
                oneOf:
                  - $ref: '#/components/schemas/payment_method_cash_response'
                  - $ref: '#/components/schemas/payment_method_cash_recurrent_response'
                  - $ref: '#/components/schemas/payment_method_card_response'
                  - $ref: '#/components/schemas/payment_method_spei_recurrent_response'
        '401':
          $ref: '#/components/responses/401'
        '404':
          $ref: '#/components/responses/404'
        '422':
          $ref: '#/components/responses/422'
        '500':
          $ref: '#/components/responses/500'
      security:
        - bearerAuth: []
      requestBody:
        $ref: '#/components/requestBodies/customer_update_payment_methods'
      parameters:
        - $ref: '#/components/parameters/id'
        - $ref: '#/components/parameters/payment_method_id'
        - $ref: '#/components/parameters/accept_language'
        - $ref: '#/components/parameters/x_child_company_id'
    delete:
      tags:
        - Payment Methods
      operationId: DeleteCustomerPaymentMethods
      summary: Delete Payment Method
      description: Delete an existing payment method
      responses:
        '200':
          description: successful operation
          content:
            application/vnd.conekta-v2.3.0+json:
              schema:
                title: update_customer_payment_methods_response
                discriminator:
                  propertyName: type
                  mapping:
                    cash: payment_method_cash_response
                    card: payment_method_card_response
                    cash_recurrent: payment_method_cash_recurrent_response
                    spei_recurrent: payment_method_spei_recurrent_response
                oneOf:
                  - $ref: '#/components/schemas/payment_method_cash_response'
                  - $ref: '#/components/schemas/payment_method_cash_recurrent_response'
                  - $ref: '#/components/schemas/payment_method_card_response'
                  - $ref: '#/components/schemas/payment_method_spei_recurrent_response'
        '401':
          $ref: '#/components/responses/401'
        '404':
          $ref: '#/components/responses/404'
        '422':
          $ref: '#/components/responses/422'
        '500':
          $ref: '#/components/responses/500'
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/id'
        - $ref: '#/components/parameters/payment_method_id'
        - $ref: '#/components/parameters/accept_language'
        - $ref: '#/components/parameters/x_child_company_id'
  /plans:
    get:
      tags:
        - Plans
      operationId: getPlans
      summary: Get A List of Plans
      responses:
        '200':
          description: successful
          content:
            application/vnd.conekta-v2.3.0+json:
              schema:
                title: get_plans_response
                allOf:
                  - $ref: '#/components/schemas/pagination'
                  - $ref: '#/components/schemas/page'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/plan_response'
          headers:
            Date:
              description: The date and time that the response was sent
              schema:
                type: string
                example: Fri, 03 Feb 2023 16:57:48 GMT
            Content-Type:
              description: The format of the response body
              schema:
                type: string
                example: application/json; charset=utf-8
            Content-Length:
              description: The length of the response body in bytes
              schema:
                type: string
                example: '2737'
[...]
