openapi: 3.0.3
servers:
  - url: 'https://api.conekta.io'
    description: Conekta main server
info:
  description: Conekta sdk
  version: 2.1.0
  contact:
    name: Api support client
    url: 'https://github.com/conekta/openapi/issues'
    email: engineering@conekta.com
  title: Conekta API
  license:
    name: MIT-LICENSE
    url: 'https://www.apache.org/licenses/LICENSE-2.0.html'
paths:
  '/orders/{id}/charges':
    post:
      tags:
        - Charges
      operationId: ordersCreateCharge
      summary: Create charge
      description: Create charge for an existing orden
      responses:
        '200':
          description: successful
          content:
            application/vnd.conekta-v2.1.0+json:
              schema:
                title: charges_data_response
                type: object
                properties:
                  amount:
                    type: integer
                    example: 4321
                  channel:
                    type: object
                    properties:
                      segment:
                        type: string
                        example: Checkout
                      checkout_request_id:
                        type: string
                        example: 6fca054a-8519-4c43-971e-cea35cc519bb
                      checkout_request_type:
                        type: string
                        example: HostedPayment
                      id:
                        type: string
                        example: channel_2tNDzhA4Akmzj11AU
                  created_at:
                    type: integer
                    example: 1676386026
                    format: int64
                  currency:
                    type: string
                    example: MXN
                  customer_id:
                    type: string
                  description:
                    type: string
                    example: Payment from order
                  device_fingerprint:
                    type: string
                    example: 6FR3chaU4Y1nGAW5NAGd1rcjAKa142Ba
                    nullable: true
                  failure_code:
                    type: string
                    example: suspected_fraud
                  failure_message:
                    type: string
                    example: Este cargo ha sido declinado porque el comportamiento del comprador es sospechoso.
                  fee:
                    type: integer
                    example: 1160
                  id:
                    type: string
                    example: 63efa757cf65380001aec040
                  livemode:
                    type: boolean
                    example: true
                  monthly_installments:
                    type: integer
                    nullable: true
                  object:
                    type: string
                  order_id:
                    type: string
                    example: ord_2tN73UdUSNrYRPD9r
                  paid_at:
                    type: integer
                    example: 1676390742
                    nullable: true
                  payment_method:
                    oneOf:
                      - allOf:
                          - type: object
                            required:
                              - object
                            properties:
                              type:
                                type: string
                              object:
                                type: string
                                example: payment_source
                          - type: object
                            title: charge_data_payment_method_cash_response
                            description: use for cash responses
                            properties:
                              auth_code:
                                type: integer
                                example: 542563
                                nullable: true
                              cashier_id:
                                type: string
                                nullable: true
                                example: OINM01010
                              reference:
                                type: string
                                example: '93000262276908'
                              barcode_url:
                                type: string
                                example: 'https://pt-common-s3-stg.s3.amazonaws.com/644ebf80f2243197aad6cd8810375b905b613dbe.png?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=ASIA3UN6375MP4SLLCWV%2F20230203%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20230203T215750Z&X-Amz-Expires=604800&X-Amz-Security-Token=IQoJb3JpZ2luX2VjEH4aCXVzLWVhc3QtMSJGMEQCICd79cu7DYu%2F4%2B3HnVVswydgU9yHcE9kmQIIk2TLoZJrAiBVZ0HxVSeboK5lhdQSqADjwQF62XX35jhC%2F2riB0M8uCqQBAj2%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F8BEAIaDDc5OTgwMTA4MTY4OCIMXWZds9ZI5hzUdbeGKuQDFreMyeWnWWPqDuGZ2%2BHk6usCr%2Fl096%2FNJh9xtf8htLu56K%2FhWUTx%2BjiqFWM2O%2FF5zTS%2BIV6TqkLDZ%2BQ5Jo1miQrRmR57YDz6uP2Yd1mNZ1ouq5ipnNjUuu5UWCCBAmqyZQsrVmeMQpSV2IB%2BTERCCcW2SukFEYU%2F20%2Fzy5orsoZ8DxOW460IymR3cWBk5u3Xh2cV6Y1RdPEwDEThhqYEF5w%2ByKbLENloMsI%2FUm6sG5PPrO3yQOAP9aK2muLJs9lXQRU%2FL%2FSsmS4FKSUFOqlN6YU%2Bi2Y%2FyGIKAJT2VDkngvz5Sl%2Fadj0j%2BPKftVRV5FcEhySB6Rl%2BSkPN7kVQMJp6pS8hMJ6JCyEA%2BA3eWYdIfKgQhWVXAR4oCBfJ62DH8FU3a7WfSjjpTwfVkiReWen3GGCYfUWETTVKp46MKnJ9PG0CD3KzxKV8VfmEGc5krK%2FI%2F%2BDV2wtSa%2F9qf1%2BK1YYJIK9qZGb25ljUiGhTB4T%2BMUOSQFjetiWUoOJc5Q3Jz%2FXJbiTAMTST39MhdbCgiMgfrc8OGKN5DOVbex33Z7dn0xf%2FOCkSqurhLaG08efKQBdhLNS0RlE9hbg9yZ2ywwtQIF39fI6A7eeH0T11a5HMlvm51u4rAffPHRuEJfwJoIuj%2F2s3QzDg7%2FWeBjqmAbnPOlGfysjrDdvHyG7HVnaX02kdG%2BI3Q4PFOO4Mjaa3ocpjcfPT70%2BZ5a%2FSv5vP0jDLGrLToeM9%2BAUlNepptICRu23a1tLGW4ri0twPA%2FZ4JDTtUUUgdblyG8bKpcUTNp4oOsdmLLBz3FVyr4c2xQbDZSu2zYOtoOxB18W0AC6kIbsMWVU55Bf0mBhPeBWxGrtM4Kw1SgHHlt%2F8vetQi2OwtUcg08c%3D&X-Amz-SignedHeaders=host&X-Amz-Signature=d06dfa41550003359f2aabc8006063a80dfd806a13a54d244024946a76aa9abc'
                              expires_at:
                                type: integer
                                format: int64
                                example: 0
                              service_name:
                                type: string
                                example: OxxoPay
                              store:
                                type: string
                                nullable: true
                                example: 10MON50EDI
                              store_name:
                                type: string
                                example: OXXO
                      - allOf:
                          - $ref: '#/paths/~1orders~1%7Bid%7D~1charges/post/responses/200/content/application~1vnd.conekta-v2.1.0%2Bjson/schema/properties/payment_method/oneOf/0/allOf/0'
                          - type: object
                            title: charge_data_payment_method_card_response
                            description: use for card responses
                            properties:
                              account_type:
                                type: string
                                example: Credit
                              auth_code:
                                type: string
                                example: '867372'
                              brand:
                                type: string
                                example: visa
                              country:
                                type: string
                                example: MX
                              exp_month:
                                type: string
                                example: '02'
                              exp_year:
                                type: string
                                example: '30'
                              fraud_indicators:
                                type: array
                                items: {}
                              issuer:
                                type: string
                                example: BANAMEX
                              last4:
                                type: string
                                example: '4242'
                              name:
                                type: string
                                example: Fulanito Perez
                      - allOf:
                          - $ref: '#/paths/~1orders~1%7Bid%7D~1charges/post/responses/200/content/application~1vnd.conekta-v2.1.0%2Bjson/schema/properties/payment_method/oneOf/0/allOf/0'
                          - type: object
                            title: charge_data_payment_method_bank_transfer_response
                            description: use for bank transfer responses
                            properties:
                              bank:
                                type: string
                                example: STP
                              clabe:
                                type: string
                                example: '646180111805034237'
                              description:
                                type: string
                                nullable: true
                              executed_at:
                                type: integer
                                nullable: true
                              expires_at:
                                type: integer
                                example: 1683053729
                                format: int64
                              issuing_account_bank:
                                type: string
                                nullable: true
                              issuing_account_number:
                                type: string
                                nullable: true
                              issuing_account_holder_name:
                                type: string
                                nullable: true
                              issuing_account_tax_id:
                                type: string
                                nullable: true
                              payment_attempts:
                                type: array
                                items: {}
                              receiving_account_holder_name:
                                type: string
                                nullable: true
                              receiving_account_number:
                                type: string
                                example: '646180111805034237'
                              receiving_account_bank:
                                type: string
                                example: STP
                              receiving_account_tax_id:
                                type: string
                                nullable: true
                              reference_number:
                                type: string
                                nullable: true
                              tracking_code:
                                type: string
                                nullable: true
                    discriminator:
                      propertyName: object
                      mapping:
                        cash_payment: payment_method_cash
                        card_payment: payment_method_card
                        bank_transfer_payment: payment_method_bank_transfer
                  reference_id:
                    type: string
                    nullable: true
                  refunds:
                    type: array
                    items: {}
                  status:
                    type: string
                    example: pending_payment
        '401':
          $ref: '#/paths/~1logs/get/responses/401'
        '404':
          $ref: '#/paths/~1logs~1%7Bid%7D/get/responses/404'
        '428':
          description: Precondition Required
          content:
            application/vnd.conekta-v2.1.0+json:
              schema:
                $ref: '#/paths/~1logs/get/responses/401/content/application~1vnd.conekta-v2.1.0%2Bjson/schema'
              example:
                details:
                  - debug_message: The order cannot be modified because it has already a charge which is pending payment.
                    message: The order cannot be modified because it has already a charge which is pending payment.
                    param: null
                    code: conekta.errors.precondition_required.combo.order.cannot_be_updated_because_has_charge
                log_id: 641b6e233cd9a50001515039
                object: error
                type: precondition_required_error
        '500':
          $ref: '#/paths/~1logs/get/responses/500'
      security:
        - bearerAuth: []
      requestBody:
        description: requested field for a charge
        content:
          application/json:
            schema:
              title: charges
              description: The charges to be made
              required:
                - payment_method
              properties:
                amount:
                  type: integer
                  example: 40000
                expires_at:
                  type: integer
                  format: int64
                  description: Method expiration date as unix timestamp
                  example: 1677196303
                monthly_installments:
                  type: integer
                  format: int8
                  description: 'How many months without interest to apply, it can be 3, 6, 9, 12 or 18'
                payment_method:
                  required:
                    - type
                  type: object
                  description: |
                    Payment method used in the charge. Go to the [payment methods](https://developers.conekta.com/reference/m%C3%A9todos-de-pago) section for more details
                  properties:
                    type:
                      type: string
                      example: card
                    token_id:
                      type: string
                      example: tok_2897348234
                    payment_source_id:
                      type: string
                      example: src_2tLkkyfMPh6v7pFry
                reference_id:
                  description: Custom reference to add to the charge
                  type: string
        required: true
      parameters:
        - $ref: '#/paths/~1logs~1%7Bid%7D/get/parameters/0'
        - $ref: '#/paths/~1logs/get/parameters/0'
  /customers:
    post:
      tags:
        - Customers
      operationId: createCustomer
      summary: Create customer
      description: |
        The purpose of business is to create and keep a customer, you will learn what elements you need to create a customer.
        Remember the credit and debit card tokenization process: [https://developers.conekta.com/page/web-checkout-tokenizer](https://developers.conekta.com/page/web-checkout-tokenizer)
      responses:
        '200':
          description: successful operation
          content:
            application/vnd.conekta-v2.1.0+json:
              schema:
                title: customer response
                description: customer response
                type: object
                required:
                  - id
                  - livemode
                  - created_at
                  - object
                properties:
                  antifraud_info:
                    title: customer_antifraud_info_response
                    type: object
                    nullable: true
                    properties:
                      first_paid_at:
                        type: integer
                        example: 1485151007
                      account_created_at:
                        type: integer
                        example: 1484040996
                        format: int64
                  corporate:
                    type: boolean
                  created_at:
                    type: integer
                    format: int64
                    example: 1485151007
                  custom_reference:
                    type: string
                  default_fiscal_entity_id:
                    type: string
                    nullable: true
                    example: fis_ent_2tKqqAfqPi21oCmEJ
                  default_shipping_contact_id:
                    type: string
                    example: ship_cont_2tKZsTYcsryyu7Ah8
                  default_payment_source_id:
                    type: string
                    nullable: true
                    example: src_2tHJfJ79KyUwpxTio
                  email:
                    type: string
                    example: Felipe@gmail.com
                    format: email
                  fiscal_entities:
                    title: customer_fiscal_entities_response
                    allOf:
                      - $ref: '#/paths/~1plans/get/responses/200/content/application~1vnd.conekta-v2.1.0%2Bjson/schema/allOf/0'
                      - type: object
                        properties:
                          data:
                            type: array
                            items:
                              title: customer_fiscal_entities_data_response
                              allOf:
                                - $ref: '#/paths/~1customers~1%7Bid%7D~1fiscal_entities/post/responses/200/content/application~1vnd.conekta-v2.1.0%2Bjson/schema/allOf/0'
                                - type: object
                                  required:
                                    - id
                                    - object
                                    - created_at
                                  properties:
                                    id:
                                      type: string
                                      example: ship_cont_2tKZsTYcsryyu7Ah8
                                    object:
                                      type: string
                                      example: shipping_contact
                                    created_at:
                                      type: integer
                                      format: int64
                                      example: 1675715413
                                    parent_id:
                                      type: string
                                      example: cus_2tKcHxhTz7xU5SymF
                                    default:
                                      type: boolean
                  id:
                    type: string
                    example: cus_2tHJfJ79KyUwpxTik
                  livemode:
                    type: boolean
                    example: true
                  name:
                    type: string
                    example: Felipe
                  object:
                    type: string
                    example: customer
                  payment_sources:
                    title: customer_payment_methods_response
                    allOf:
                      - $ref: '#/paths/~1plans/get/responses/200/content/application~1vnd.conekta-v2.1.0%2Bjson/schema/allOf/0'
                      - $ref: '#/paths/~1plans/get/responses/200/content/application~1vnd.conekta-v2.1.0%2Bjson/schema/allOf/1'
                      - type: object
                        title: customerPaymentMethods
                        properties:
                          data:
                            type: array
                            title: customer_payment_methods_data
                            items:
                              title: customer_payment_methods_data
                              discriminator:
                                propertyName: type
                                mapping:
                                  cash: payment_method_cash_response
                                  card: payment_method_card_response
                                  oxxo_recurrent: payment_method_cash_response
                                  spei_recurrent: payment_method_spei_recurrent
                              oneOf:
                                - $ref: '#/paths/~1customers~1%7Bid%7D~1payment_sources/post/responses/200/content/application~1vnd.conekta-v2.1.0%2Bjson/schema/oneOf/0'
                                - $ref: '#/paths/~1customers~1%7Bid%7D~1payment_sources/post/responses/200/content/application~1vnd.conekta-v2.1.0%2Bjson/schema/oneOf/1'
                                - $ref: '#/paths/~1customers~1%7Bid%7D~1payment_sources/post/responses/200/content/application~1vnd.conekta-v2.1.0%2Bjson/schema/oneOf/2'
                  phone:
                    type: string
                    example: '+5215555555555'
                  shipping_contacts:
                    allOf:
                      - $ref: '#/paths/~1plans/get/responses/200/content/application~1vnd.conekta-v2.1.0%2Bjson/schema/allOf/0'
                      - type: object
                        properties:
                          data:
                            type: array
                            items:
                              title: customer_shipping_contacts_data_response
                              allOf:
                                - $ref: '#/paths/~1customers~1%7Bid%7D~1shipping_contacts/post/requestBody/content/application~1json/schema'
                                - type: object
                                  required:
                                    - id
                                    - object
                                    - created_at
                                  properties:
                                    id:
                                      type: string
                                      example: ship_cont_2tKZsTYcsryyu7Ah8
                                    object:
                                      type: string
                                      example: shipping_contact
                                    created_at:
                                      type: integer
                                      format: int64
                                      example: 1675715413
                  subscription:
                    $ref: '#/paths/~1customers~1%7Bid%7D~1subscription/put/responses/200/content/application~1vnd.conekta-v2.1.0%2Bjson/schema'
                    nullable: true
          headers:
            Date:
              description: The date and time that the response was sent
              schema:
                type: string
                example: 'Fri, 03 Feb 2023 16:57:48 GMT'
            Content-Type:
              description: The format of the response body
              schema:
                type: string
                example: application/json; charset=utf-8
            Content-Length:
              description: The length of the response body in bytes
              schema:
                type: string
                example: '2737'
            Connection:
              description: The type of connection used to transfer the response
              schema:
                type: string
                example: keep-alive
            Conekta-Media-Type:
              schema:
                type: string
                example: conekta-v2.1.0; format=application/json
        '401':
          $ref: '#/paths/~1logs/get/responses/401'
        '402':
          $ref: '#/paths/~1orders/post/responses/402'
        '422':
          $ref: '#/paths/~1plans/get/responses/422'
        '500':
          $ref: '#/paths/~1logs/get/responses/500'
      security:
        - bearerAuth: []
      requestBody:
        description: requested field for customer
        content:
          application/json:
            schema:
              title: customer request
              description: a customer
              type: object
              required:
                - name
                - email
                - phone
              properties:
                antifraud_info:
                  type: object
                  nullable: true
                  properties:
                    account_created_at:
                      type: integer
                      example: 1484040996
                      format: int64
                    first_paid_at:
                      type: integer
                      format: int64
                      example: 1485151007
                corporate:
                  type: boolean
                  description: It is a value that allows identifying if the email is corporate or not.
                  example: false
                  default: false
                custom_reference:
                  type: string
                  description: It is an undefined value.
                email:
                  type: string
                  description: 'An email address is a series of customizable characters followed by a universal Internet symbol, the at symbol (@), the name of a host server, and a web domain ending (.mx, .com, .org, . net, etc).'
                  example: miguel@gmail.com
                  format: email
                default_payment_source_id:
                  type: string
                  description: 'It is a parameter that allows to identify in the response, the Conekta ID of a payment method (payment_id)'
                  example: src_1a2b3c4d5e6f7g8h
                default_shipping_contact_id:
                  type: string
                  description: 'It is a parameter that allows to identify in the response, the Conekta ID of the shipping address (shipping_contact)'
                  example: ship_cont_1a2b3c4d5e6f7g8h
                fiscal_entities:
                  type: array
                  items:
                    $ref: '#/paths/~1customers~1%7Bid%7D~1fiscal_entities/post/responses/200/content/application~1vnd.conekta-v2.1.0%2Bjson/schema/allOf/0'
                metadata:
                  type: object
                  additionalProperties: true
                  maxProperties: 100
                name:
                  type: string
                  description: Client's name
                  example: miguel
                payment_sources:
                  description: Contains details of the payment methods that the customer has active or has used in Conekta
                  type: array
                  items:
                    title: consumer_payment_methods_request
                    oneOf:
                      - $ref: '#/paths/~1customers~1%7Bid%7D~1payment_sources/post/requestBody/content/application~1json/schema/oneOf/0'
                      - $ref: '#/paths/~1customers~1%7Bid%7D~1payment_sources/post/requestBody/content/application~1json/schema/oneOf/1'
                      - $ref: '#/paths/~1customers~1%7Bid%7D~1payment_sources/post/requestBody/content/application~1json/schema/oneOf/2'
                phone:
                  type: string
                  description: Is the customer's phone number
                  example: '+5215555555555'
                plan_id:
                  type: string
                  example: plan_987234823
                  description: 'Contains the ID of a plan, which could together with name, email and phone create a client directly to a subscription'
                shipping_contacts:
                  description: Contains the detail of the shipping addresses that the client has active or has used in Conekta
                  type: array
                  items:
                    $ref: '#/paths/~1customers~1%7Bid%7D~1shipping_contacts/post/requestBody/content/application~1json/schema'
                subscription:
                  description: 'It is a parameter that allows to identify in the response, the detailed content of the plans to which the client has subscribed'
                  $ref: '#/paths/~1customers~1%7Bid%7D~1subscription/post/requestBody/content/application~1json/schema'
        required: true
      parameters:
        - $ref: '#/paths/~1logs/get/parameters/0'
      x-readme:
        code-samples:
          - language: csharp
            code: |
              using System.Collections.Generic;
              using System.Diagnostics;
              using Conekta.net.Api;
              using Conekta.net.Client;
              using Conekta.net.Model;

              namespace Example
              {
                  public class CreateCustomerExample
                  {
                      public static void Main()
                      {
                          Configuration config = new Configuration();
                          config.AccessToken = "key_ZLy4aP2szht1HqzkCezDEA";

                          var apiInstance = new CustomersApi(config);
                          var customer = new Customer(
                             name: "test dot",
                             phone: "+573143159063",
                             email: "test@conekta.com"
                          );

                          try
                          {
                              CustomerResponse result = apiInstance.CreateCustomer(customer, "es");
                              Debug.WriteLine(result);
                          }
                          catch (ApiException  e)
                          {
                              Debug.Print("Exception when calling CustomersApi.CreateCustomer: " + e.Message);
                              Debug.Print("Status Code: " + e.ErrorCode);
                              Debug.Print(e.StackTrace);
                          }
                      }
                  }
              }
            name: Custom sdk
            install: dotnet add package Conekta.net
    get:
      tags:
        - Customers
      operationId: getCustomers
      summary: Get a list of customers
      description: 'The purpose of business is to create and maintain a client, you will learn what elements you need to obtain a list of clients, which can be paged.'
      responses:
        '200':
          description: successful operation
          content:
            application/vnd.conekta-v2.1.0+json:
              schema:
                title: customers_response
                allOf:
                  - type: object
                    properties:
                      data:
                        title: customers_data_response
                        type: array
                        items:
                          $ref: '#/paths/~1customers/post/responses/200/content/application~1vnd.conekta-v2.1.0%2Bjson/schema'
                  - $ref: '#/paths/~1plans/get/responses/200/content/application~1vnd.conekta-v2.1.0%2Bjson/schema/allOf/0'
                  - $ref: '#/paths/~1plans/get/responses/200/content/application~1vnd.conekta-v2.1.0%2Bjson/schema/allOf/1'
          headers:
            Date:
              description: The date and time that the response was sent
              schema:
                type: string
                example: 'Fri, 03 Feb 2023 16:57:48 GMT'
            Content-Type:
              description: The format of the response body
              schema:
                type: string
                example: application/json; charset=utf-8
            Content-Length:
              description: The length of the response body in bytes
              schema:
                type: string
                example: '2737'
            Connection:
              description: The type of connection used to transfer the response
              schema:
                type: string
                example: keep-alive
            Conekta-Media-Type:
              schema:
                type: string
                example: conekta-v2.1.0; format=application/json
        '401':
          $ref: '#/paths/~1logs/get/responses/401'
        '500':
          $ref: '#/paths/~1logs/get/responses/500'
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/paths/~1logs/get/parameters/0'
        - $ref: '#/paths/~1logs/get/parameters/1'
        - $ref: '#/paths/~1logs/get/parameters/2'
        - $ref: '#/paths/~1logs/get/parameters/3'
        - $ref: '#/paths/~1logs/get/parameters/4'
  '/customers/{id}':
    get:
      tags:
        - Customers
      operationId: getCustomerById
      summary: Get Customer
      description: Gets a customer resource that corresponds to a customer ID.
      responses:
        '200':
          description: successful operation
          content:
            application/vnd.conekta-v2.1.0+json:
              schema:
                $ref: '#/paths/~1customers/post/responses/200/content/application~1vnd.conekta-v2.1.0%2Bjson/schema'
        '401':
          $ref: '#/paths/~1logs/get/responses/401'
        '404':
          $ref: '#/paths/~1logs~1%7Bid%7D/get/responses/404'
        '500':
          $ref: '#/paths/~1logs/get/responses/500'
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/paths/~1logs~1%7Bid%7D/get/parameters/0'
        - $ref: '#/paths/~1logs/get/parameters/0'
    delete:
      tags:
        - Customers
      operationId: deleteCustomerById
      summary: Delete Customer
      description: Deleted a customer resource that corresponds to a customer ID.
      responses:
        '200':
          description: successful operation
          content:
            application/vnd.conekta-v2.1.0+json:
              schema:
                $ref: '#/paths/~1customers/post/responses/200/content/application~1vnd.conekta-v2.1.0%2Bjson/schema'
        '401':
          $ref: '#/paths/~1logs/get/responses/401'
        '404':
          $ref: '#/paths/~1logs~1%7Bid%7D/get/responses/404'
        '422':
          $ref: '#/paths/~1plans/get/responses/422'
        '500':
          $ref: '#/paths/~1logs/get/responses/500'
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/paths/~1logs~1%7Bid%7D/get/parameters/0'
        - $ref: '#/paths/~1logs/get/parameters/0'
    put:
      tags:
        - Customers
      operationId: updateCustomer
      summary: Update customer
      description: You can update customer-related data
      responses:
        '200':
          description: successful operation
          content:
            application/vnd.conekta-v2.1.0+json:
              schema:
                $ref: '#/paths/~1customers/post/responses/200/content/application~1vnd.conekta-v2.1.0%2Bjson/schema'
        '401':
          $ref: '#/paths/~1logs/get/responses/401'
        '402':
          $ref: '#/paths/~1orders/post/responses/402'
        '422':
          $ref: '#/paths/~1plans/get/responses/422'
        '500':
          $ref: '#/paths/~1logs/get/responses/500'
      security:
        - bearerAuth: []
      requestBody:
        description: requested field for customer
        content:
          application/json:
            schema:
              title: update customer request
              description: update customer
              type: object
              properties:
                antifraud_info:
                  type: object
                  nullable: true
                  properties:
                    account_created_at:
                      type: integer
                      example: 1484040996
                      format: int64
                    first_paid_at:
                      type: integer
                      example: 1485151007
                default_payment_source_id:
                  type: string
                  description: 'It is a parameter that allows to identify in the response, the Conekta ID of a payment method (payment_id)'
                  example: src_1a2b3c4d5e6f7g8h
                email:
                  type: string
                  description: 'An email address is a series of customizable characters followed by a universal Internet symbol, the at symbol (@), the name of a host server, and a web domain ending (.mx, .com, .org, . net, etc).'
                  example: miguel@gmail.com
                name:
                  type: string
                  description: Client's name
                  example: miguel
                phone:
                  type: string
                  description: Is the customer's phone number
                  example: '+5215555555555'
                plan_id:
                  type: string
                  example: plan_987234823
                  description: 'Contains the ID of a plan, which could together with name, email and phone create a client directly to a subscription'
                default_shipping_contact_id:
                  type: string
                  description: 'It is a parameter that allows to identify in the response, the Conekta ID of the shipping address (shipping_contact)'
                  example: ship_cont_1a2b3c4d5e6f7g8h
                corporate:
                  type: boolean
                  description: It is a value that allows identifying if the email is corporate or not.
                  example: false
                  default: false
                custom_reference:
                  type: string
                  description: It is an undefined value.
                fiscal_entities:
                  type: array
                  items:
                    $ref: '#/paths/~1customers~1%7Bid%7D~1fiscal_entities/post/responses/200/content/application~1vnd.conekta-v2.1.0%2Bjson/schema/allOf/0'
                metadata:
                  type: object
                  additionalProperties: true
                  maxProperties: 100
                payment_sources:
                  description: Contains details of the payment methods that the customer has active or has used in Conekta
                  type: array
                  items:
                    title: consumer_payment_methods_request
                    oneOf:
                      - $ref: '#/paths/~1customers~1%7Bid%7D~1payment_sources/post/requestBody/content/application~1json/schema/oneOf/0'
                      - $ref: '#/paths/~1customers~1%7Bid%7D~1payment_sources/post/requestBody/content/application~1json/schema/oneOf/1'
                      - $ref: '#/paths/~1customers~1%7Bid%7D~1payment_sources/post/requestBody/content/application~1json/schema/oneOf/2'
                shipping_contacts:
                  description: Contains the detail of the shipping addresses that the client has active or has used in Conekta
                  type: array
                  items:
                    $ref: '#/paths/~1customers~1%7Bid%7D~1shipping_contacts/post/requestBody/content/application~1json/schema'
                subscription:
                  description: 'It is a parameter that allows to identify in the response, the detailed content of the plans to which the client has subscribed'
                  $ref: '#/paths/~1customers~1%7Bid%7D~1subscription/post/requestBody/content/application~1json/schema'
        required: true
      parameters:
        - $ref: '#/paths/~1logs~1%7Bid%7D/get/parameters/0'
        - $ref: '#/paths/~1logs/get/parameters/0'
  '/customers/{id}/fiscal_entities':
    post:
      tags:
        - Customers
      operationId: CreateCustomerFiscalEntities
      summary: Create Fiscal Entity
      description: Create Fiscal entity resource that corresponds to a customer ID.
      responses:
        '200':
          description: successful operation
          content:
            application/vnd.conekta-v2.1.0+json:
              schema:
                title: create_customer_fiscal_entities_response
                allOf:
                  - title: fiscal_entity_request
                    required:
                      - address
                    properties:
                      address:
                        allOf:
                          - $ref: '#/paths/~1orders/post/responses/200/content/application~1vnd.conekta-v2.1.0%2Bjson/schema/properties/fiscal_entity/properties/address/allOf/0'
                      tax_id:
                        type: string
                      email:
                        type: string
                      phone:
                        type: string
                      metadata:
                        type: object
                        additionalProperties:
                          type: object
                      company_name:
                        type: string
                        example: conekta
                  - type: object
                    required:
                      - id
                      - object
                      - created_at
                    properties:
                      id:
                        type: string
                        example: ship_cont_2tKZsTYcsryyu7Ah8
                      object:
                        type: string
                        example: shipping_contact
                      created_at:
                        type: integer
                        format: int64
                        example: 1675715413
                      parent_id:
                        type: string
                        example: cus_2tKcHxhTz7xU5SymF
                      default:
                        type: boolean
        '401':
          $ref: '#/paths/~1logs/get/responses/401'
        '404':
          $ref: '#/paths/~1logs~1%7Bid%7D/get/responses/404'
        '422':
          $ref: '#/paths/~1plans/get/responses/422'
        '500':
          $ref: '#/paths/~1logs/get/responses/500'
      security:
        - bearerAuth: []
      requestBody:
        description: requested field for customer fiscal entities
        content:
          application/json:
            schema:
              $ref: '#/paths/~1customers~1%7Bid%7D~1fiscal_entities/post/responses/200/content/application~1vnd.conekta-v2.1.0%2Bjson/schema/allOf/0'
        required: true
      parameters:
        - $ref: '#/paths/~1logs~1%7Bid%7D/get/parameters/0'
        - $ref: '#/paths/~1logs/get/parameters/0'
  '/customers/{id}/fiscal_entities/{fiscal_entities_id}':
    put:
      tags:
        - Customers
      operationId: UpdateCustomerFiscalEntities
      summary: Update  Fiscal Entity
      description: Update Fiscal Entity resource that corresponds to a customer ID.
      responses:
        '200':
          description: successful operation
          content:
            application/vnd.conekta-v2.1.0+json:
              schema:
                title: update_customer_fiscal_entities_response
                allOf:
                  - $ref: '#/paths/~1customers~1%7Bid%7D~1fiscal_entities/post/responses/200/content/application~1vnd.conekta-v2.1.0%2Bjson/schema/allOf/0'
                  - type: object
                    required:
                      - id
                      - object
                      - created_at
                    properties:
                      id:
                        type: string
                        example: fis_ent_2tKZsTYcsryyu7Ah8
                      object:
                        type: string
                        example: fiscal_entities
                      created_at:
                        type: integer
                        format: int64
                        example: 1675715413
                      parent_id:
                        type: string
                        example: cus_2tKcHxhTz7xU5SymF
                      default:
                        type: boolean
        '401':
          $ref: '#/paths/~1logs/get/responses/401'
        '404':
          $ref: '#/paths/~1logs~1%7Bid%7D/get/responses/404'
        '422':
          $ref: '#/paths/~1plans/get/responses/422'
        '500':
          $ref: '#/paths/~1logs/get/responses/500'
      security:
        - bearerAuth: []
      requestBody:
        description: requested field for customer update fiscal entities
        content:
          application/json:
            schema:
              title: update_fiscal_entity_request
              properties:
                address:
                  allOf:
                    - $ref: '#/paths/~1orders/post/responses/200/content/application~1vnd.conekta-v2.1.0%2Bjson/schema/properties/fiscal_entity/properties/address/allOf/0'
                tax_id:
                  type: string
                email:
                  type: string
                phone:
                  type: string
                metadata:
                  type: object
                  additionalProperties:
                    type: object
                company_name:
                  type: string
                  example: conekta
        required: true
      parameters:
        - $ref: '#/paths/~1logs~1%7Bid%7D/get/parameters/0'
        - in: path
          name: fiscal_entities_id
          description: identifier
          required: true
          schema:
            type: string
          example: fis_ent_2tQ8HkkfbauaKP9Ho
        - $ref: '#/paths/~1logs/get/parameters/0'
  '/orders/{id}/discount_lines':
    post:
      tags:
        - Discounts
      operationId: ordersCreateDiscountLine
      summary: Create Discount
      description: Create discount lines for an existing orden
      responses:
        '200':
          description: successful
          content:
            application/vnd.conekta-v2.1.0+json:
              schema:
                title: discount_lines_order_response
                allOf:
                  - $ref: '#/paths/~1orders~1%7Bid%7D~1discount_lines/post/requestBody/content/application~1json/schema'
                  - type: object
                    properties:
                      id:
                        type: string
                        example: dis_lin_2tQQ58HPgPw7StE8z
                      object:
                        type: string
                        example: discount_line
                      parent_id:
                        type: string
                        example: ord_2tPAmKCEJqh8RE6nY
        '401':
          $ref: '#/paths/~1logs/get/responses/401'
        '404':
          $ref: '#/paths/~1logs~1%7Bid%7D/get/responses/404'
        '500':
          $ref: '#/paths/~1logs/get/responses/500'
      security:
        - bearerAuth: []
      requestBody:
        description: requested field for a discount lines
        content:
          application/json:
            schema:
              title: order_discount_lines_request
              name: order_discount_lines_request
              description: List of discounts that apply to the order.
              required:
                - amount
                - code
                - type
              properties:
                amount:
                  type: integer
                  format: int64
                  example: 500
                  minimum: 0
                  description: 'The amount to be deducted from the total sum of all payments, in cents.'
                code:
                  type: string
                  description: Discount code.
                  example: '123'
                type:
                  type: string
                  example: loyalty
                  description: 'It can be ''loyalty'', ''campaign'', ''coupon'' o ''sign'''
        required: true
      parameters:
        - $ref: '#/paths/~1logs~1%7Bid%7D/get/parameters/0'
        - $ref: '#/paths/~1logs/get/parameters/0'
  '/orders/{id}/discount_lines/{discount_lines_id}':
    put:
      tags:
        - Discounts
      operationId: ordersUpdateDiscountLines
      summary: Update Discount
      description: Update an existing discount lines for an existing orden
      responses:
        '200':
          description: successful
          content:
            application/vnd.conekta-v2.1.0+json:
              schema:
                $ref: '#/paths/~1orders~1%7Bid%7D~1discount_lines/post/responses/200/content/application~1vnd.conekta-v2.1.0%2Bjson/schema'
        '401':
          $ref: '#/paths/~1logs/get/responses/401'
        '404':
          $ref: '#/paths/~1logs~1%7Bid%7D/get/responses/404'
        '422':
          $ref: '#/paths/~1plans/get/responses/422'
        '500':
          $ref: '#/paths/~1logs/get/responses/500'
      security:
        - bearerAuth: []
      requestBody:
        description: requested field for a discount lines
        content:
          application/json:
            schema:
              title: update_order_discount_lines_request
              description: List of discounts that apply to the order.
              properties:
                amount:
                  type: integer
                  format: int64
                  example: 500
                  minimum: 0
                code:
                  type: string
                  description: Discount code.
                  example: '123'
                type:
                  type: string
                  example: loyalty
        required: true
      parameters:
        - $ref: '#/paths/~1logs~1%7Bid%7D/get/parameters/0'
        - in: path
          name: discount_lines_id
          description: identifier
          required: true
          schema:
            type: string
          example: dis_lin_2tQ974hSHcsdeSZHG
        - $ref: '#/paths/~1logs/get/parameters/0'
    delete:
      tags:
        - Discounts
      operationId: ordersDeleteDiscountLines
      summary: Delete Discount
      description: Delete an existing discount lines for an existing orden
      responses:
        '200':
          description: successful
          content:
            application/vnd.conekta-v2.1.0+json:
              schema:
                $ref: '#/paths/~1orders~1%7Bid%7D~1discount_lines/post/responses/200/content/application~1vnd.conekta-v2.1.0%2Bjson/schema'
        '401':
          $ref: '#/paths/~1logs/get/responses/401'
        '404':
          $ref: '#/paths/~1logs~1%7Bid%7D/get/responses/404'
        '422':
          $ref: '#/paths/~1plans/get/responses/422'
        '500':
          $ref: '#/paths/~1logs/get/responses/500'
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/paths/~1logs~1%7Bid%7D/get/parameters/0'
        - $ref: '#/paths/~1orders~1%7Bid%7D~1discount_lines~1%7Bdiscount_lines_id%7D/put/parameters/1'
        - $ref: '#/paths/~1logs/get/parameters/0'
  /events:
    get:
      tags:
        - Events
      operationId: getEvents
      summary: Get list of Events
      responses:
        '200':
          description: successful
          content:
            application/vnd.conekta-v2.1.0+json:
              schema:
                title: get_events_response
                allOf:
                  - $ref: '#/paths/~1plans/get/responses/200/content/application~1vnd.conekta-v2.1.0%2Bjson/schema/allOf/0'
                  - $ref: '#/paths/~1plans/get/responses/200/content/application~1vnd.conekta-v2.1.0%2Bjson/schema/allOf/1'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/paths/~1events~1%7Bid%7D/get/responses/200/content/application~1vnd.conekta-v2.1.0%2Bjson/schema'
          headers:
            Date:
              description: The date and time that the response was sent
              schema:
                type: string
                example: 'Fri, 03 Feb 2023 16:57:48 GMT'
            Content-Type:
              description: The format of the response body
              schema:
                type: string
                example: application/json; charset=utf-8
            Content-Length:
              description: The length of the response body in bytes
              schema:
                type: string
                example: '2737'
            Connection:
              description: The type of connection used to transfer the response
              schema:
                type: string
                example: keep-alive
            Conekta-Media-Type:
              schema:
                type: string
                example: conekta-v2.1.0; format=application/json
        '401':
          $ref: '#/paths/~1logs/get/responses/401'
        '500':
          $ref: '#/paths/~1logs/get/responses/500'
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/paths/~1logs/get/parameters/0'
        - $ref: '#/paths/~1logs/get/parameters/1'
        - $ref: '#/paths/~1logs/get/parameters/2'
        - $ref: '#/paths/~1logs/get/parameters/3'
        - $ref: '#/paths/~1logs/get/parameters/4'
  '/events/{id}':
    get:
      tags:
        - Events
      operationId: getEvent
      summary: Get Event
      description: Returns a single event
      responses:
        '200':
          description: successful
          content:
            application/vnd.conekta-v2.1.0+json:
              schema:
                title: event_response
                description: event model
                type: object
                properties:
                  created_at:
                    type: integer
                    format: int64
                    example: 1661445644
                  data:
                    type: object
                    additionalProperties:
                      type: object
                    example:
                      action: ping
                      livemode: true
                  id:
                    type: string
                    example: 6307a60c41de27127515a575
                  livemode:
                    type: boolean
                    example: true
                  object:
                    type: string
                    example: event
                  type:
                    type: string
                    example: webhook_ping
                  webhook_logs:
                    type: array
                    items:
                      type: object
                      title: WebhookLog
                      properties:
                        failed_attempts:
                          type: integer
                          example: 10
                        id:
                          type: string
                          example: webhl_2svd2sh6GbqzyWBNZ
                        last_attempted_at:
                          type: integer
                          example: 1669651274
                        last_http_response_status:
                          type: integer
                          format: int32
                          example: 200
                        object:
                          type: string
                          example: webhook_log
                        response_data:
                          type: object
                          additionalProperties:
                            type: object
                          example:
                            amount: 3000
                            payable: true
                        url:
                          type: string
                          example: 'https://username:password@mockoon.stg.conekta.io/payments-api/cash/merchant_approval'
                          format: uri
                  webhook_status:
                    type: string
                    example: successful
          headers:
            Date:
              description: The date and time that the response was sent
              schema:
                type: string
                example: 'Fri, 03 Feb 2023 16:57:48 GMT'
            Content-Type:
              description: The format of the response body
              schema:
                type: string
                example: application/json; charset=utf-8
            Content-Length:
              description: The length of the response body in bytes
              schema:
                type: string
                example: '2737'
            Connection:
              description: The type of connection used to transfer the response
              schema:
                type: string
                example: keep-alive
            Conekta-Media-Type:
              schema:
                type: string
                example: conekta-v2.1.0; format=application/json
        '401':
          $ref: '#/paths/~1logs/get/responses/401'
        '404':
          $ref: '#/paths/~1logs~1%7Bid%7D/get/responses/404'
        '500':
          $ref: '#/paths/~1logs/get/responses/500'
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/paths/~1logs/get/parameters/0'
        - $ref: '#/paths/~1logs~1%7Bid%7D/get/parameters/0'
  /logs:
    get:
      tags:
        - Logs
      operationId: getLogs
      summary: Get List Of Logs
      description: Get log details in the form of a list
      responses:
        '200':
          description: successful
          content:
            application/vnd.conekta-v2.1.0+json:
              schema:
                title: log response for request
                description: logs model
                type: object
                properties:
                  has_more:
                    description: 'True, if there are more pages.'
                    type: boolean
                    readOnly: true
                  object:
                    description: The object type
                    type: string
                    readOnly: true
                  next_page_url:
                    description: URL of the next page.
                    type: string
                    nullable: true
                  previous_page_url:
                    description: Url of the previous page.
                    type: string
                    nullable: true
                  data:
                    description: set to page results.
                    nullable: true
                    type: array
                    items:
                      title: logs_response_data
                      properties:
                        created_at:
                          type: integer
                          format: int64
                          example: 1661445644
                        id:
                          type: string
                          example: 6307a60c41de27127515a575
                        ip_address:
                          type: string
                          format: ipv4
                          example: 54.235.131.48
                        livemode:
                          type: boolean
                          example: true
                        loggable_id:
                          type: string
                          nullable: true
                          example: ord_87632467832
                        loggable_type:
                          type: string
                          nullable: true
                          example: order
                        method:
                          type: string
                          example: POST
                        oauth_token_id:
                          type: string
                          nullable: true
                        query_string:
                          type: object
                          additionalProperties:
                            type: string
                          example:
                            limit: '20'
                        related:
                          type: string
                          example: FilterResource
                        request_body:
                          type: object
                          example:
                            filters:
                              amount:
                                amount_from: 0
                                amount_to: 0
                              created_at:
                                date_from: 1653627600
                                date_to: 1661489999
                              filterName: Payments
                              search_term: null
                              sort_by: created_at
                              sort_direction: desc
                              status: []
                              type: []
                            id: 78e65162-0f37-4942-847c-9bf7081d54c2
                            page: '0'
                            report_type: charges
                            testMode: false
                        request_headers:
                          type: object
                          additionalProperties:
                            type: string
                          example:
                            Accept: application/vnd.conekta-v2.1.0+json
                            Accept-Encoding: 'gzip, deflate, br'
                            Accept-Language: 'es-419, es; q=0.9, en; q=0.8'
                            Activitypermission: 'orders:read'
                            Apiversion: 2.1.0
                        response_body:
                          type: object
                        response_headers:
                          type: object
                          additionalProperties:
                            type: string
                          example:
                            Access-Control-Allow-Headers: 'Content-Type, Depth, User-Agent, X-File-Size, X-Requested-With, If-Modified-Since, X-File-Name, Cache-Control, X-Prototype-Version, Authorization, Accept, Date, Version, X-Forwarded-For, Host, Connection, X-Forwarded-Proto, X-Forwarded-Port, X-Amzn-Trace-Id, Accept-Encoding, Accept-Language, Referer, Origin, Activitypermission, Apiversion, Entityid, Livemode, Sec-Ch-Ua, Sec-Ch-Ua-Mobile, Sec-Ch-Ua-Platform, Sec-Fetch-Dest, Sec-Fetch-Mode, Sec-Fetch-Site, X-Datadog-Parent-Id, X-Datadog-Sampling-Priority, X-Datadog-Trace-Id, X-Forwarded-Host, X-Forwarded-Server, X-Real-Ip'
                            Access-Control-Allow-Methods: 'POST, GET, PUT, OPTIONS'
                            Access-Control-Allow-Origin: '*'
                            Access-Control-Max-Age: '1728000'
                            Conekta-Media-Type: conekta-v2.1.0; format=application/json
                            Content-Type: application/json; charset=utf-8
                            Referrer-Policy: strict-origin-when-cross-origin
                            Strict-Transport-Security: max-age=31536000; includeSubDomains
                            X-Content-Type-Options: nosniff
                            X-Download-Options: noopen
                            X-Frame-Options: SAMEORIGIN
                            X-Permitted-Cross-Domain-Policies: none
                            X-XSS-Protection: 1; mode=block
                        searchable_tags:
                          type: array
                          items:
                            type: string
                          example:
                            - 6307a60c41de27127515a575
                            - 6307a60c41de27127515a571
                        status:
                          type: string
                          example: 200
                        updated_at:
                          type: string
                          example: '2022-08-25T16:40:44.887Z'
                        url:
                          type: string
                          example: /filter_resource
                        user_account_id:
                          type: string
                          example: 5a0b7001edbb6e1725b0b2c6
                        version:
                          type: string
                          example: 2.1.0
          headers:
            Date:
              description: The date and time that the response was sent
              schema:
                type: string
                example: 'Fri, 03 Feb 2023 16:57:48 GMT'
            Content-Type:
              description: The format of the response body
              schema:
                type: string
                example: application/json; charset=utf-8
            Content-Length:
              description: The length of the response body in bytes
              schema:
                type: string
                example: '2737'
            Connection:
              description: The type of connection used to transfer the response
              schema:
                type: string
                example: keep-alive
            Conekta-Media-Type:
              schema:
                type: string
                example: conekta-v2.1.0; format=application/json
        '401':
          description: authentication error
          content:
            application/vnd.conekta-v2.1.0+json:
              schema:
                title: error
                description: err model
                allOf:
                  - type: object
                    properties:
                      details:
                        type: array
                        items:
                          type: object
                          title: details_error
                          properties:
                            code:
                              type: string
                              example: conekta.errors.authentication.missing_key
                            param:
                              type: string
                              nullable: true
                            message:
                              type: string
                              example: Acceso no autorizado.
                            debug_message:
                              type: string
                              example: Please include your access key in your request.
                  - type: object
                    properties:
                      log_id:
                        description: log id
                        type: string
                        example: 507f1f77bcf86cd799439011
                        nullable: true
                      type:
                        type: string
                        example: authentication_error
                      object:
                        type: string
                        example: error
              example:
                details:
                  - message: Please include your access key in your request.
                    param: null
                    code: conekta.errors.authentication.missing_key
                log_id: 507f1f77bcf86cd799439011
                object: error
                type: authentication_error
        '500':
          description: internal server error
          content:
            application/vnd.conekta-v2.1.0+json:
              schema:
                $ref: '#/paths/~1logs/get/responses/401/content/application~1vnd.conekta-v2.1.0%2Bjson/schema'
              example:
                details:
                  - debug_message: There was a runtime error and Conekta engineers have been notified.
                    message: There was a runtime error and Conekta engineers have been notified.
                    param: null
                    code: conekta.errors.api.system.general_failure
                object: error
                type: api_error
                log_id: 641b6f2b3cd9a50001515098
      security:
        - bearerAuth: []
      parameters:
        - in: header
          name: Accept-Language
          description: Use for knowing which language to use
          required: false
          schema:
            default: es
            type: string
            enum:
              - es
              - en
          examples:
            es:
              summary: for spanish request/response
              value: es
            en:
              summary: for english request/response
              value: en
        - in: query
          name: limit
          description: 'The numbers of items to return, the maximum value is 250'
          required: false
          schema:
            type: integer
            format: int32
            default: 20
            minimum: 1
            maximum: 250
        - in: query
          name: search
          description: 'General order search, e.g. by mail, reference etc.'
          required: false
          schema:
            type: string
        - in: query
          name: next
          description: next page
          required: false
          schema:
            type: string
        - in: query
          name: previous
          description: previous page
          required: false
          schema:
            type: string
  '/logs/{id}':
    get:
      tags:
        - Logs
      operationId: getLogById
      summary: Get Log
      description: Get the details of a specific log
      responses:
        '200':
          description: successful
          content:
            application/vnd.conekta-v2.1.0+json:
              schema:
                title: log response for request
                description: log model
                type: object
                required:
                  - created_at
                  - id
                  - livemode
                properties:
                  created_at:
                    type: integer
                    format: int64
                    example: 1661445644
                  id:
                    type: string
                    example: 6307a60c41de27127515a575
                  ip_address:
                    type: string
                    format: ipv4
                    example: 54.235.131.48
                  livemode:
                    type: boolean
                    example: true
                  loggable_id:
                    type: string
                    nullable: true
                    example: ord_87632467832
                  loggable_type:
                    type: string
                    nullable: true
                    example: order
                  method:
                    type: string
                    example: POST
                  oauth_token_id:
                    type: string
                    nullable: true
                  query_string:
                    type: object
                    additionalProperties:
                      type: string
                    example:
                      limit: '20'
                  related:
                    type: string
                    example: FilterResource
                  request_body:
                    type: object
                    example:
                      filters:
                        amount:
                          amount_from: 0
                          amount_to: 0
                        created_at:
                          date_from: 1653627600
                          date_to: 1661489999
                        filterName: Payments
                        search_term: null
                        sort_by: created_at
                        sort_direction: desc
                        status: []
                        type: []
                      id: 78e65162-0f37-4942-847c-9bf7081d54c2
                      page: '0'
                      report_type: charges
                      testMode: false
                  request_headers:
                    type: object
                    additionalProperties:
                      type: string
                    example:
                      Accept: application/vnd.conekta-v2.1.0+json
                      Accept-Encoding: 'gzip, deflate, br'
                      Accept-Language: 'es-419, es; q=0.9, en; q=0.8'
                      Activitypermission: 'orders:read'
                      Apiversion: 2.1.0
                  response_body:
                    type: object
                  response_headers:
                    type: object
                    additionalProperties:
                      type: string
                    example:
                      Access-Control-Allow-Headers: 'Content-Type, Depth, User-Agent, X-File-Size, X-Requested-With, If-Modified-Since, X-File-Name, Cache-Control, X-Prototype-Version, Authorization, Accept, Date, Version, X-Forwarded-For, Host, Connection, X-Forwarded-Proto, X-Forwarded-Port, X-Amzn-Trace-Id, Accept-Encoding, Accept-Language, Referer, Origin, Activitypermission, Apiversion, Entityid, Livemode, Sec-Ch-Ua, Sec-Ch-Ua-Mobile, Sec-Ch-Ua-Platform, Sec-Fetch-Dest, Sec-Fetch-Mode, Sec-Fetch-Site, X-Datadog-Parent-Id, X-Datadog-Sampling-Priority, X-Datadog-Trace-Id, X-Forwarded-Host, X-Forwarded-Server, X-Real-Ip'
                      Access-Control-Allow-Methods: 'POST, GET, PUT, OPTIONS'
                      Access-Control-Allow-Origin: '*'
                      Access-Control-Max-Age: '1728000'
                      Conekta-Media-Type: conekta-v2.1.0; format=application/json
                      Content-Type: application/json; charset=utf-8
                      Referrer-Policy: strict-origin-when-cross-origin
                      Strict-Transport-Security: max-age=31536000; includeSubDomains
                      X-Content-Type-Options: nosniff
                      X-Download-Options: noopen
                      X-Frame-Options: SAMEORIGIN
                      X-Permitted-Cross-Domain-Policies: none
                      X-XSS-Protection: 1; mode=block
                  searchable_tags:
                    type: array
                    items:
                      type: string
                    example:
                      - 6307a60c41de27127515a575
                      - 6307a60c41de27127515a571
                  status:
                    type: string
                    example: 200
                  updated_at:
                    type: string
                    example: '2022-08-25T16:40:44.887Z'
                  url:
                    type: string
                    example: /filter_resource
                  user_account_id:
                    type: string
                    example: 5a0b7001edbb6e1725b0b2c6
                  version:
                    type: string
                    example: 2.1.0
        '401':
          $ref: '#/paths/~1logs/get/responses/401'
        '404':
          description: not found entity
          content:
            application/vnd.conekta-v2.1.0+json:
              schema:
                $ref: '#/paths/~1logs/get/responses/401/content/application~1vnd.conekta-v2.1.0%2Bjson/schema'
              example:
                details:
                  - message: The resource was not found.
                    param: null
                    code: conekta.errors.resource_not_found.entity
                    debug_message: The object Webhook "641b1d5662d7e00001eaa46b" could not be found.
                log_id: 641b6c253cd9a50001514fae
                object: error
                type: resource_not_found_error
        '500':
          $ref: '#/paths/~1logs/get/responses/500'
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: id
          description: Identifier of the resource
          required: true
          schema:
            type: string
          example: 6307a60c41de27127515a575
        - $ref: '#/paths/~1logs/get/parameters/0'
  /orders:
    post:
      tags:
        - Orders
      operationId: createOrder
      summary: Create order
      description: Create a new order.
      responses:
        '200':
          description: successful operation
          content:
            application/vnd.conekta-v2.1.0+json:
              schema:
                title: order_response
                description: order response
                properties:
                  amount:
                    type: integer
                    example: 21605
                  amount_refunded:
                    type: integer
                    example: 0
                  channel:
                    type: object
                    properties:
                      segment:
                        type: string
                        example: Checkout
                      checkout_request_id:
                        type: string
                        example: 6fca054a-8519-4c43-971e-cea35cc519bb
                      checkout_request_type:
                        type: string
                        example: HostedPayment
                      id:
                        type: string
                        example: channel_2tNDzhA4Akmzj11AU
                  charges:
                    allOf:
                      - $ref: '#/paths/~1plans/get/responses/200/content/application~1vnd.conekta-v2.1.0%2Bjson/schema/allOf/0'
                      - type: object
                        properties:
                          data:
                            type: array
                            items:
                              title: charges_data_response
                              allOf:
                                - title: charges_data_response
                                  type: object
                                  properties:
                                    amount:
                                      type: integer
                                      example: 4321
                                    created_at:
                                      type: integer
                                      example: 1676386026
                                      format: int64
                                    currency:
                                      type: string
                                      example: MXN
                                    customer_id:
                                      type: string
                                    description:
                                      type: string
                                      example: Payment from order
                                    device_fingerprint:
                                      type: string
                                      example: 6FR3chaU4Y1nGAW5NAGd1rcjAKa142Ba
                                    failure_code:
                                      type: string
                                      example: suspected_fraud
                                    failure_message:
                                      type: string
                                      example: Este cargo ha sido declinado porque el comportamiento del comprador es sospechoso.
                                    fee:
                                      type: integer
                                      example: 1160
                                    id:
                                      type: string
                                      example: 63efa757cf65380001aec040
                                    livemode:
                                      type: boolean
                                    object:
                                      type: string
                                    order_id:
                                      type: string
                                      example: ord_2tN73UdUSNrYRPD9r
                                    paid_at:
                                      type: integer
                                      example: 1676390742
                                      nullable: true
                                    payment_method:
                                      oneOf:
                                        - $ref: '#/paths/~1orders~1%7Bid%7D~1charges/post/responses/200/content/application~1vnd.conekta-v2.1.0%2Bjson/schema/properties/payment_method/oneOf/0'
                                        - $ref: '#/paths/~1orders~1%7Bid%7D~1charges/post/responses/200/content/application~1vnd.conekta-v2.1.0%2Bjson/schema/properties/payment_method/oneOf/1'
                                        - $ref: '#/paths/~1orders~1%7Bid%7D~1charges/post/responses/200/content/application~1vnd.conekta-v2.1.0%2Bjson/schema/properties/payment_method/oneOf/2'
                                      discriminator:
                                        propertyName: object
                                        mapping:
                                          cash_payment: payment_method_cash
                                          card_payment: payment_method_card
                                          bank_transfer_payment: payment_method_bank_transfer
                                    refunds:
                                      type: object
                                      title: charge_response_refunds
                                      allOf:
                                        - $ref: '#/paths/~1plans/get/responses/200/content/application~1vnd.conekta-v2.1.0%2Bjson/schema/allOf/0'
                                        - $ref: '#/paths/~1plans/get/responses/200/content/application~1vnd.conekta-v2.1.0%2Bjson/schema/allOf/1'
                                        - type: object
                                          properties:
                                            data:
                                              type: array
                                              items:
                                                title: charge_response_refunds_data
                                                required:
                                                  - object
                                                  - id
                                                  - amount
                                                  - created_at
                                                properties:
                                                  object:
                                                    type: string
                                                    example: refund
                                                  amount:
                                                    type: integer
                                                    format: int64
                                                    example: -15000
                                                  id:
                                                    type: string
                                                    example: 6407b5bee1329a000175ba11
                                                  created_at:
                                                    type: integer
                                                    example: 1678226878
                                                    format: int64
                                                  auth_code:
                                                    type: string
                                                    example: '867372'
                                      nullable: true
                                    status:
                                      type: string
                                      example: pending_payment
                  checkout:
                    type: object
                    properties:
                      allowed_payment_methods:
                        type: array
                        items:
                          type: string
                      can_not_expire:
                        type: boolean
                        example: false
                      emails_sent:
                        type: integer
                        example: 0
                      exclude_card_networks:
                        type: array
                        items: {}
                      expires_at:
                        type: integer
                        example: 1676613599
                        format: int64
                      failure_url:
                        type: string
                        example: 'http://187.216.228.66:2222/SysVentasPagos/Acceso.aspx'
                      force_3ds_flow:
                        type: boolean
                        example: false
                      id:
                        type: string
                        example: 6fca054a-8519-4c43-971e-cea35cc519bb
                      is_redirect_on_failure:
                        type: boolean
                        example: false
                      livemode:
                        type: boolean
                        example: false
                      metadata:
                        additionalProperties: true
                        maxProperties: 100
                        type: object
                      monthly_installments_enabled:
                        type: boolean
                        example: false
                      monthly_installments_options:
                        type: array
                        items:
                          type: integer
                          format: int8
                      name:
                        type: string
                        example: ord-2tNDzhA4Akmzj11AS
                      needs_shipping_contact:
                        type: boolean
                        example: false
                      object:
                        type: string
                        example: checkout
                      on_demand_enabled:
                        type: boolean
                        example: true
                        nullable: true
                      paid_payments_count:
                        type: integer
                        example: 0
                      recurrent:
                        type: boolean
                        example: false
                      slug:
                        type: string
                        example: 6fca054a85194c43971ecea35cc519bb
                      sms_sent:
                        type: integer
                        example: 0
                      success_url:
                        type: string
                        example: 'http://187.216.228.66:2222/SysVentasPagos/Acceso.aspx'
                      starts_at:
                        type: integer
                        example: 1676354400
                      status:
                        type: string
                        example: Issued
                      type:
                        type: string
                        example: HostedPayment
                      url:
                        type: string
                        example: 'https://pay.stg.conekta.io/checkout/6fca054a85194c43971ecea35cc519bb'
                  created_at:
                    type: integer
                    example: 1676328434
                    format: int64
                  currency:
                    type: string
                    example: MXN
                  customer_info:
                    allOf:
                      - type: object
                        properties:
                          object:
                            type: string
                            example: customer_info
                      - title: customer_info
                        type: object
                        properties:
                          name:
                            type: string
                            example: DevTest
                          email:
                            type: string
                            format: email
                            example: test@conekta.com
                          phone:
                            type: string
                            example: '5522997233'
                          corporate:
                            default: false
                            type: boolean
                          object:
                            type: string
                            example: customer_info
                      - title: customer_info_response
                        type: object
                        properties:
                          customer_id:
                            type: string
                            example: cus_23874283647
                  discount_lines:
                    allOf:
                      - $ref: '#/paths/~1plans/get/responses/200/content/application~1vnd.conekta-v2.1.0%2Bjson/schema/allOf/0'
                      - type: object
                        properties:
                          data:
                            type: array
                            items:
                              title: discount_lines_data_response
                              allOf:
                                - $ref: '#/paths/~1orders~1%7Bid%7D~1discount_lines/post/responses/200/content/application~1vnd.conekta-v2.1.0%2Bjson/schema'
                  fiscal_entity:
                    type: object
                    properties:
                      address:
                        allOf:
                          - type: object
                            required:
                              - street1
                              - city
                              - postal_code
                            properties:
                              street1:
                                type: string
                                example: avenida siempre viva
                              street2:
                                type: string
                                example: fake street
                              postal_code:
                                type: string
                                example: '06100'
                              city:
                                type: string
                                example: Ciudad de Mexico
                              state:
                                type: string
                                example: Ciudad de Mexico
                              country:
                                type: string
                                example: MX
                                description: 'this field follows the [ISO 3166-1 alpha-2 standard](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2)'
                              residential:
                                type: boolean
                                example: true
                              external_number:
                                type: string
                          - type: object
                            properties:
                              object:
                                type: string
                                example: fiscal_entity_address
                      tax_id:
                        type: string
                        example: '324234234'
                      id:
                        type: string
                        example: fis_ent_2tN85VYaSMyDvjB3M
                      object:
                        type: string
                        example: fiscal_entity
                  id:
                    type: string
                    example: ord_2tMtQQpDvfnNjiuFG
                  is_refundable:
                    type: boolean
                    example: false
                  line_items:
                    title: order_response_products
                    allOf:
                      - $ref: '#/paths/~1plans/get/responses/200/content/application~1vnd.conekta-v2.1.0%2Bjson/schema/allOf/0'
                      - $ref: '#/paths/~1plans/get/responses/200/content/application~1vnd.conekta-v2.1.0%2Bjson/schema/allOf/1'
                      - type: object
                        properties:
                          data:
                            type: array
                            items:
                              title: product_data_response
                              allOf:
                                - $ref: '#/paths/~1orders~1%7Bid%7D~1line_items/post/requestBody/content/application~1json/schema'
                                - type: object
                                  properties:
                                    id:
                                      type: string
                                    object:
                                      type: string
                                    parent_id:
                                      type: string
                  livemode:
                    type: boolean
                  metadata:
                    additionalProperties: true
                    maxProperties: 100
                    type: object
                  object:
                    type: string
                    example: order
                  payment_status:
                    type: string
                    example: paid
                  shipping_contact:
                    allOf:
                      - type: object
                        properties:
                          created_at:
                            type: integer
                            format: int64
                          id:
                            type: string
                          object:
                            type: string
                      - $ref: '#/paths/~1customers~1%7Bid%7D~1shipping_contacts/post/responses/200/content/application~1vnd.conekta-v2.1.0%2Bjson/schema'
                  updated_at:
                    type: integer
                    example: 1676328434
                    format: int64
              examples:
                cash:
                  value:
                    id: 62bce95741de276186407e41
                    livemode: false
                    created_at: 1656547671
                    currency: MXN
                    payment_method:
                      service_name: OxxoPay
                      barcode_url: 'https://s3.amazonaws.com/cash_payment_barcodes/sandbox_reference.png'
                      object: cash_payment
                      type: oxxo
                      expires_at: 1656634070
                      store_name: OXXO
                      reference: 98000013217610
                    object: charge
                    description: Payment from order
                    status: paid
                    amount: 13500
                    paid_at: 1656547702
                    fee: 537
                    customer_id: null
                    order_id: ord_2s53K99C8GXVmCfPm
                card:
                  value:
                    id: 63dab7d00558720001bb3c7d
                    livemode: 'true,'
                    created_at: '1675278289,'
                    currency: MXN
                    failure_code: suspected_fraud
                    failure_message: Este cargo ha sido declinado porque el comportamiento del comprador es sospechoso.
                    device_fingerprint: 6FR3chaU4Y1nGAW5NAGd1rcjAKa142Ba
                    payment_method:
                      name: Fulanito Perez
                      exp_month: 2
                      exp_year: 30
                      object: card_payment
                      type: credit
                      last4: 4242
                      brand: visa
                      issuer: BANAMEX
                      account_type: Credit
                      country: MX
                      fraud_indicators:
                        - description: El usuario está utilizando una tarjeta de crédito o débito de prueba en modo producción.
                          weight: null
                          value: null
                    object: charge
                    description: Payment from order
                    status: declined
                    amount: '20001,'
                    fee: '116,'
                    customer_id: null
                    order_id: ord_2tHuwPhgSwq6Gt7Rg
        '401':
          $ref: '#/paths/~1logs/get/responses/401'
        '402':
          description: payment required error
          content:
            application/vnd.conekta-v2.1.0+json:
              schema:
                $ref: '#/paths/~1logs/get/responses/401/content/application~1vnd.conekta-v2.1.0%2Bjson/schema'
              example:
                details:
                  - message: The card could not be processed.
                    code: conekta.errors.processing.tokenization.used
                    debug_message: The token has already been used.
                log_id: 641b6d073cd9a50001515007
                object: error
                type: processing_error
        '422':
          $ref: '#/paths/~1plans/get/responses/422'
        '500':
          $ref: '#/paths/~1logs/get/responses/500'
      security:
        - bearerAuth: []
      requestBody:
        description: requested field for order
        content:
          application/json:
            schema:
              title: a order
              description: a order
              type: object
              required:
                - currency
                - customer_info
                - line_items
              properties:
                charges:
                  description: 'List of [charges](https://developers.conekta.com/v2.1.0/reference/orderscreatecharge) that are applied to the order'
                  type: array
                  items:
                    $ref: '#/paths/~1orders~1%7Bid%7D~1charges/post/requestBody/content/application~1json/schema'
                checkout:
                  title: order_checkout_request
                  description: |
                    [Checkout](https://developers.conekta.com/reference/checkout) details
                  required:
                    - allowed_payment_methods
                  properties:
                    allowed_payment_methods:
                      type: array
                      description: Are the payment methods available for this link
                      items:
                        type: string
                      example:
                        - cash
                        - card
                        - bank_transfer
                    expires_at:
                      type: integer
                      format: int64
                      description: Unix timestamp of checkout expiration
                    failure_url:
                      type: string
                      description: 'Redirection url back to the site in case of failed payment, applies only to HostedPayment.'
                    monthly_installments_enabled:
                      type: boolean
                      example: false
                    monthly_installments_options:
                      type: array
                      items:
                        type: integer
                        format: int8
                      example:
                        - 3
                        - 6
                        - 12
                    name:
                      type: string
                      description: Reason for payment
                    on_demand_enabled:
                      type: boolean
                      example: true
                    success_url:
                      type: string
                      description: 'Redirection url back to the site in case of successful payment, applies only to HostedPayment'
                    type:
                      type: string
                      description: This field represents the type of checkout
                      example: Integration
                currency:
                  type: string
                  description: 'Currency with which the payment will be made. It uses the 3-letter code of the [International Standard ISO 4217.](https://es.wikipedia.org/wiki/ISO_4217)'
                  example: MXN
                  maxLength: 3
                customer_info:
                  oneOf:
                    - title: customer_info
                      type: object
                      required:
                        - name
                        - phone
                        - email
                      properties:
                        name:
                          type: string
                          example: DevTest
                        email:
                          type: string
                          format: email
                          example: test@conekta.com
                        phone:
                          type: string
[...]
